@use '../abstract/mixins';

.container {
  max-width: 80vw;
  margin: 0 auto;

  @include mixins.responsive(widescreen) {
    max-width: 120rem;
  }

  &--narrow {
    max-width: 60vw;

    @include mixins.responsive(tablet) {
      max-width: 80vw;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.responsive(phone) {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include mixins.responsive(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.responsive(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include mixins.responsive(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.responsive(phone) {
      grid-template-columns: 1fr;
    }
  }
}
