@use '../abstract/variables';
@use '../abstract/mixins';

.section__header {
  display: grid;
  grid-template: 
    "intro intro blog"  auto /
    1fr    1fr    auto;
  align-items: flex-start;
  row-gap: 5rem;
  margin: 5rem 2rem;
  padding: 5rem 2rem;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, red, coral);
  }
  

  @include mixins.responsive(tablet) {
    // row-gap: 3rem;
    grid-template: 
      "title"  1fr
      "intro " auto
      "blog  " auto /
      auto;
  }

  @include mixins.responsive(phone) {
    row-gap: 3rem;
    grid-template: 
    "title" auto
    "intro " 2fr
    "blog  " auto /
    auto;
    text-align: center;
    padding: 2rem;
  }

  &-intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // gap: 2rem;
    margin-right: 15rem;
    height: 100%;

    @include mixins.responsive(landscape) {
      padding-right: 2rem;
      margin-right: unset;
    }

    @include mixins.responsive(phone) {
      align-items: center;
    }
  }

  &-title {
    width: 100%;
    font-size: 5rem;
    grid-area: title;

    @include mixins.responsive(phone) {
      font-size: 3rem;
    }
  }

  &-whoami {
    animation: fadeUp 1.5s 1.5s backwards;
    margin-left: 6rem;
    font-family: FiraCode;
    // &:nth-of-type(1) {
    //   animation-delay: 1.5s;
    // }

    // &:nth-of-type(2) {
    //   animation-delay: 1.8s;
    // }
  }

  &-scroll {
    display: inline-block;
    margin: 0 auto;
    font-size: 4rem;
    animation: scaleDown 0.5s 3s backwards, scrollDown 5s 3s infinite;
  }

  &-blog {
    grid-area: blog;
    justify-content: center;

    @include mixins.responsive(portrait) {
      justify-self: center;
    }
  }
}