@use '../abstract/variables';
@use '../abstract/mixins';

.section__header {
  display: grid;
  align-items: flex-start;
  row-gap: 5rem;
  padding: 2rem 4rem;
  overflow: hidden;
  grid-template: 
    // "title title title" 5rem
    // "intro intro blog"  5rem
    ".     .     ."     2rem
    "intro intro blog"  auto /
    1fr    1fr    auto;

  @include mixins.responsive(tablet) {
    // row-gap: 3rem;
    grid-template: 
      "title"  1fr
      "intro " auto
      "blog  " auto /
      auto;
  }

  @include mixins.responsive(phone) {
    row-gap: 3rem;
    grid-template: 
    "title" auto
    "intro " 2fr
    "blog  " auto /
    auto;
    text-align: center;
    padding: 2rem;
  }

  &--title {
    width: 100%;
    font-size: 5rem;
    grid-area: title;

    @include mixins.responsive(phone) {
      font-size: 3rem;
    }
  }

  &-subtitle {
    font-size: 2rem;
  }

  &-intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // height: 100%;
    gap: 2rem;
    margin-right: 15rem;

    @include mixins.responsive(landscape) {
      padding-right: 2rem;
      margin-right: unset;
    }

    @include mixins.responsive(phone) {
      align-items: center;
    }
  }

  &-blog {
    grid-area: blog;

    @include mixins.responsive(portrait) {
      justify-self: center;
    }
  }

  &-scroll {
    font-size: 4rem;
  }
}