@use '../abstract/variables';
@use '../abstract/mixins';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateY(-5rem) skewY(2deg);
  padding-top: 5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  position: relative;
  overflow: hidden;
  z-index: 80;
  background-size: cover;

  // background-image:
  //   linear-gradient(to top, rgba(variables.$color-light, 0.9), transparent),
  //   url(../assets/images/design.webp);

  // @include mixins.responsive(tablet) {
  //   background-image:
  //     linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
  //     url(../assets/images/business-man-800.webp);
  // }
  // @include mixins.responsive(phone) {
  //   background-image:
  //     linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
  //     url(../assets/images/business-man-400.webp);
  // }

  & > * {
    transform: skewY(-2deg);
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(variables.$color-light, 0.9);
  }

  &__nerd-mode {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
  }
}
