@use '../abstract/variables';
@use '../abstract/mixins';

%section {
  min-height: 100vh;
  padding: 2rem 4rem;

  @include mixins.responsive(phone) {
    padding: 1rem 3rem;
  }
  
  @include mixins.responsive(narrow) {
    padding: 1rem 2rem;
  }
}

.section {
  &__webapps,
  &__scripting,
  &__graphics {
    @extend %section;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 2rem;

    @include mixins.responsive(phone) {
      font-size: 3rem;
    }
  }
}