---
import { getCollection } from 'astro:content';
import Layout from "../../../layouts/Layout.astro"
import PostCard from '../../../components/PostCard.astro';
import { slugify } from '../../../scripts/utils';

import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {

	const blogPosts = (await getCollection('blog'))
		.filter(({ data }) => data.hasOwnProperty('series'))
		.sort((a, b) => a.data.createdAt.valueOf() - b.data.createdAt.valueOf());

	const groupedBySeries = Map.groupBy(blogPosts, ({ data }) => data.series!);

	return groupedBySeries.entries().map(([ series, posts ]) => ({
		params: {
			series: slugify(series)
		},
		props: {
			posts,
			series,
			description: posts[0].data['series-description']
		}
	})).toArray();

}) satisfies GetStaticPaths;

const { posts, series, description } = Astro.props;
---

<Layout>
	<header>
		<h1>{series}</h1>
		{description && description.split('\\n\\n').map(paragraph => (
			<p class="preamble">{paragraph}</p>
		))}
	</header>
	<ul>
		{posts.map(post => (
			<li><PostCard post={post} /></li>
		))}
	</ul>
</Layout>

<style>
p.preamble {
	color: var(--subtitles);
	margin-bottom: 1em;
}
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
hr {
	color: var(--subtitles);
}
</style>
