---
import { getCollection } from 'astro:content';
import Layout from "../../../layouts/Layout.astro"
import PostCard from '../../../components/PostCard.astro';
import { generateId, slugify } from '../../../scripts/utils';

import type { GetStaticPaths } from "astro";
import SvgIcon from '../../../components/SvgIcon.astro';

export const getStaticPaths = (async () => {

	const blogSeries = await getCollection('blogSeries');

	const blogPosts = (await getCollection('blog'))
		.filter(({ data }) => data.hasOwnProperty('series'))
		.sort((a, b) => a.data.createdAt.valueOf() - b.data.createdAt.valueOf());

	const groupedBySeries = Map.groupBy(blogPosts, (post) => {
		const series = blogSeries.find(series => series.data.title === post.data.series);
		if (!series) {
			throw new Error(`No match found for post series ${post.data.series}`);
		}
		return series.data.title;
	});

	return blogSeries.map((series) => ({
		params: {
			series: slugify(series.data.title)
		},
		props: {
			series,
			posts: groupedBySeries.get(series.data.title),
		}
	}));

}) satisfies GetStaticPaths;

const { posts, series } = Astro.props;
---

<Layout>
	<header>
		<h1>{series.data.title}</h1>
	</header>

	<article>
		<div class="asciidoc" set:html={series.rendered?.html} />
	</article>

	<ul>
		{posts!.map(post => (
			<li><PostCard post={post} /></li>
		))}
	</ul>
</Layout>

<style>
p.preamble {
	color: var(--subtitles);
	margin-bottom: 1em;
}
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
hr {
	color: var(--subtitles);
}
</style>
