/**
 * Represents any component rendered from an AsciiDoc document.
 */

.asciidoc {
    h2, h3 {
        margin-block: 0.75em 0.25em;
    }

    #preamble {
        margin-bottom: 1em;
        color: var(--subtitles);
    }

    .paragraph, .admonitionblock, .shiki {
        margin-top: 1em;
    }

    pre.shiki {
        padding: 1em;
        border-radius: var(--border-radius);
        font-family: var(--font-mono);
        font-size: 20px;
    }

    .colist p {
        margin-top: 0.5em;
        font-size: 0.9em;
    }
}