/**
 * Represents any component rendered from an AsciiDoc document.
 */

@use "asciidoc/admonition" as *;
@use "asciidoc/preamble" as *;
@use "asciidoc/paragraph" as *;
@use "asciidoc/inline-code" as *;

.asciidoc {

	h2,
	h3 {
		margin-block: 0.75em 0.25em;
		line-height: 1.25;
		padding-inline: 0.25em;
		display: inline-block;
	}

	h2 {
		background-color: var(--accent-color);
		box-decoration-break: clone;
		display: inline;
	}

	h3 {
		border-bottom: 2px solid var(--accent-color);
	}

	#preamble {
		@extend %preamble;
	}

	.paragraph {
		@extend %paragraph;
	}

	.shiki {
		margin-top: 1em;
	}

	.admonitionblock {
		@extend %admonitionblock;
	}

	pre.shiki {
		padding: 1em;
		border-radius: var(--border-radius);
		font-family: var(--font-mono);
		font-size: 20px;
	}

	.colist p {
		margin-top: 0.5em;
		font-size: 0.9em;
	}
}
