/**
 * Represents any component rendered from an AsciiDoc document.
 */

@use "asciidoc/admonition" as *;
@use "asciidoc/colist" as *;
@use "asciidoc/inline-code" as *;
@use "asciidoc/listing" as *;
@use "asciidoc/paragraph" as *;
@use "asciidoc/preamble" as *;

.asciidoc {

	h2,
	h3 {
		margin-top: 1em;
		line-height: 1.25;
		padding-inline: 0.25em;
		display: inline-block;
	}

	h2 {
		color: var(--background-color);
		background-color: var(--accent-color);
	}

	h3 {
		border-bottom: 2px solid var(--accent-color);
	}

	p {
		@extend %paragraph;
	}

	a {
		border-bottom: 2px solid var(--accent-color);

		&:hover {
			color: var(--accent-color);
		}

		&:visited {
			color: light-dark(var(--ctp-latte-mauve), var(--ctp-frappe-mauve));
			border-color: currentColor;
		}

		&:visited:hover,
		&:visited:focus {
			color: color-mix(in srgb, light-dark(var(--ctp-latte-mauve),
						var(--ctp-frappe-mauve)) 75%, white);
			border-color: currentColor;
		}
	}

	kbd {
		@extend %inline-code;
		min-width: 2em;
		display: inline-block;
		text-align: center;
		border: 1px solid color-mix(in srgb, var(--accent-color) 25%, var(--background-color));
		border-bottom: 2px solid var(--accent-color);
	}

	#preamble {
		@extend %preamble;
	}

	.listingblock {
		@extend %listingblock;
	}

	.admonitionblock {
		@extend %admonitionblock;
	}

	.colist {
		@extend %colist;
	}
}
