/**
 * Represents any component rendered from an AsciiDoc document.
 */

@use "asciidoc/admonition" as *;
@use "asciidoc/colist" as *;
@use 'asciidoc/dlist' as *;
@use "asciidoc/inline-code" as *;
@use "asciidoc/listing" as *;
@use "asciidoc/literal" as *;
@use "asciidoc/paragraph" as *;
@use "asciidoc/preamble" as *;
@use "asciidoc/quoteblock" as *;
@use "asciidoc/section" as *;

.asciidoc {
	p {
		@extend %paragraph;
	}

	a {
		border-bottom: 2px solid var(--accent-color);

		&:hover {
			color: var(--accent-color);
		}

		&:visited {
			color: light-dark(var(--ctp-latte-mauve), var(--ctp-frappe-mauve));
			border-color: currentColor;
		}

		&:visited:hover,
		&:visited:focus {
			color: color-mix(in srgb, light-dark(var(--ctp-latte-mauve),
						var(--ctp-frappe-mauve)) 75%, white);
			border-color: currentColor;
		}
	}

	kbd {
		@extend %inline-code;
		min-width: 2em;
		display: inline-block;
		text-align: center;
		border: 1px solid color-mix(in srgb, var(--accent-color) 25%, var(--background-color));
		border-bottom: 2px solid var(--accent-color);
	}

	#toc {
		line-height: 1.4;
		background-color: var(--background-color-2);
		border-radius: var(--border-radius);
		margin-block: 1em;
		padding: 1em;

		ul {
			padding-left: 2em;
		}

		li {
			margin-block: .25em;
		}

		a {
			color: var(--subtitles);
			border: none;

			&:focus,
			&:hover {
				color: var(--accent-color);
			}
		}
	}

	#preamble {
		@extend %preamble;
	}

	.dlist {
		@extend %dlist;
	}

	.quoteblock {
		@extend %quoteblock;
	}

	.listingblock {
		@extend %listingblock;
	}

	.literalblock {
		@extend %literalblock;
	}

	.admonitionblock {
		@extend %admonitionblock;
	}

	.colist {
		@extend %colist;
	}
}
