@use '../abstract/mixins';

.banner {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 1;
  font-family: PanameraRegular;
  font-size: 6rem;
  font-weight: bold;
  opacity: 0.75;
  color: #333;
  z-index: 999;
  pointer-events: none;

  @include mixins.responsive(phone) {
    font-size: 4rem;
  }
  @include mixins.responsive(narrow) {
    font-size: 3rem;
  }

  &::selection {
    background-color: none;
    color: inherit;
  }
}
