@use "../abstract/variables";
@use "../abstract/mixins";

.blog-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 14rem);
  grid-template-rows: repeat(3, 14rem);
  padding-left: 5rem;
  border-left: 2px dashed variables.$color-dark;
  position: relative;
  animation: fadeUp 0.2s 0.6s backwards;

  @include mixins.responsive(tablet) {
    grid-template-columns: repeat(3, 16rem);
    grid-template-rows: repeat(2, 16rem);
    padding-left: unset;
    border-left: unset;
    padding: 4rem 0;
    border-top: 2px dashed variables.$color-dark;
    border-bottom: 2px dashed variables.$color-dark;
  }

  @include mixins.responsive(phone) {
    margin: 2rem 0;
    grid-template-columns: repeat(2, 16rem);
    grid-template-rows: repeat(3, 16rem);
  }
  @include mixins.responsive(narrow) {
    grid-template-columns: repeat(2, 14rem);
    grid-template-rows: repeat(3, 14rem);
  }

  // &::before {
  //   content: "BLOG";
  //   position: absolute;
  //   top: 50%;
  //   left: -3.3rem;
  //   transform: translateY(-50%) rotate(-90deg);
  //   background-color: variables.$color-lighter;
  //   padding: 0 1rem;

  //   @include mixins.responsive(tablet) {
  //     content: "BLOG";
  //     position: absolute;
  //     top: -1.4rem;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     background-color: variables.$color-lighter;
  //     padding: 0 1rem;
  //   }
  // }

  // &::after {
  //   display: none;

  //   @include mixins.responsive(tablet) {
  //     display: block;
  //     content: "BLOG";
  //     position: absolute;
  //     background-color: variables.$color-lighter;
  //     bottom: -1.4rem;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     padding: 0 1rem;
  //   }
  // }
}

.blog-separator {
  font-family: inherit;
  position: absolute;
  top: 50%;
  left: -3rem;
  transform: translateY(-50%) rotate(-90deg);
  background-color: variables.$color-lighter;
  padding: 0 1rem;
  z-index: 27;
  
  border-radius: 50%;
  height: 6.2rem;
  text-align: center;
  width: min-content;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.responsive(tablet) {
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @include mixins.responsive(phone) {
    top: -1rem;
  }
  
  &:hover,
  &:focus {
    color: variables.$color-lighter;
    background-color: variables.$color-dark;
  }
}

.blog-item {
  position: relative;
  border-radius: 5px;
  box-shadow: variables.$box-shadow-light;
  background-color: transparent;
  text-align: left;
  animation: popUp 0.3s backwards;

  &:nth-child(1) {
    animation-delay: 0.75s;
  }
  &:nth-child(2) {
    animation-delay: 0.65s;
  }
  &:nth-child(3) {
    animation-delay: 0.95s;
  }
  &:nth-child(4) {
    animation-delay: 0.85s;
  }
  &:nth-child(5) {
    animation-delay: 1.1s;
  }
  &:nth-child(6) {
    animation-delay: 1.25s;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:hover svg {
    opacity: 0.6;
    transform: translate(120%, 120%) scale(1.1);
  }

  & svg {
    transform: translate(120%, 120%);
    width: 40%;
    height: 40%;
    opacity: 0.1;
    transition: opacity 0.2s, transform 0.2s ease-in;
    pointer-events: none;
  }
}

.blog-link {
  position: absolute;
  width: 100%;
  // width: 1ch; // this forces each word on its own line
  height: 100%;
  padding: 1rem;
  font-weight: bold;
  color: variables.$color-dark;
  font-size: 1.5rem;
  word-wrap: normal;

  &--text {
    display: block;
    width: 1ch;
  }

  &:focus {
    outline: none;
  }

  &:focus + svg {
    opacity: 0.6;
    transform: translate(120%, 120%) scale(1.1);
  }

  @include mixins.responsive(landscape) {
    font-size: 1.5rem;
  }
}
