@use '../abstract/variables';
@use '../abstract/mixins';

.card {
  border: 1px solid variables.$color-gray-dark;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  width: 100%;
  overflow: hidden;

  @include mixins.responsive(portrait) {
    max-width: 50rem;
    margin: 0 auto;
    grid-area: image;
  }

  @include mixins.responsive(phone) {
    max-height: unset;
    width: 100%;
  }

  &--canvas-container {
    background-color: variables.$color-light;
    min-height: 30rem;
    min-width: 30rem;

    @include mixins.responsive(portrait) {
      margin-top: 6rem;
      max-width: 90vw;
    }

    @include mixins.responsive(phone) {
      min-height: unset;
      min-width: unset;
      width: 80vw;
      height: 20rem
    }
  }

  &__image {
    // max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 25rem;
    object-fit: cover;

    &--cover {
      object-fit: cover;
    }

    &--horizontal {
      width: 100%;
      object-fit: none;

      @include mixins.responsive(phone) {
        object-fit: cover;
      }
    }
  }

  &__video {
    width: 100%;
    // height: 100%;
    // object-fit: fill;
  }
}
