@use '../abstract/variables';
@use '../abstract/mixins';

.dropdown {
  position: relative;

  &:focus &__content,
  &:hover &__content {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 16rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    background-color: variables.$color-light;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-dark;
    box-shadow: variables.$box-shadow-light;
    transition: opacity 0.2s;
    padding: 0.5rem 0;

    &:hover {
      cursor: pointer;
    }

    @media (prefers-color-scheme: dark) {
      color: variables.$color-light;
      background-image: variables.$background-gradient-dark;
      border: none;
    }
  }

  &__menu {
    padding: 1rem 0;
  }

  &__item {
    margin: 0.5rem 0;
    padding: 1rem;
  }

  &__link {
    display: inline-block;
    border-bottom: 2px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid variables.$color-darker;
    }
  }
}
