@use "../vendor";

.dropdown {
  position: relative;
  z-index: var(--z-dropdown);
}

.dropdown aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-color-3);
  color: var(--text-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  width: max-content;
}

.dropdown__item {
  position: relative;
  margin-block: 0.5rem;
  border-radius: calc(var(--border-radius) / 2);

  &:not(&--active):hover {
    background-color: var(--subtext-color);
    color: var(--dark-color);
  }

  &>* {
    padding: 0.5rem;
    width: 100%;
    text-align: left;
  }

  &--active {
    pointer-events: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
}

/* section separator and title */
.dropdown ul p {
  margin: 0.5em;
  color: var(--subtext-color);
  font-size: 0.7rem;
  text-transform: uppercase;
}

.dropdown__row-item {
  display: inline-block;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom-color: var(--subtext-color);
  }

  &--active {
    border-bottom-color: var(--primary-color);
  }
}

.dropdown__trigger {
  overflow: hidden;
  height: var(--icon-size);

  &--active>span {
    transform: rotate(180deg);
  }

  &>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--icon-size) * 2);
    transition: transform 250ms ease;
  }
}
