@use '../abstract/variables';
@use '../abstract/mixins';

.dropdown {
  position: relative;

  // @media only screen and (hover: none){
  //   display: none;
  // }

  &:hover &__content {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover &__icon {
    transform: rotate(45deg);
  }

  &__content {
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    width: 16rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    background-color: variables.$color-light;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow-light;
    transition: opacity 0.2s;
    padding: 0.5rem 0;
  }

  &__menu {
    padding: 1rem 0;
  }

  &__item {
    margin: 0.5rem 0;
    padding: 1rem;
  }

  &__link {
    display: inline-block;
    border-bottom: 2px solid transparent;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid variables.$color-darker;
    }
  }
}
