@use "../abstract/mixins" as *;

.footer {
  @include contain;
  padding-block: 2em;
  font-size: 1.2rem;
  border-top: 1px solid var(--ctp-frappe-surface2);

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 1em;

    li {
      &:hover .footer__field-tooltip {
        opacity: 1;
      }
    }

    &-tooltip {
      @include arrow($position: bottom, $color: var(--text-color), $size: 0.25em);
      @include unselectable;
      position: absolute;
      background-color: var(--text-color);
      color: var(--bg-color);
      border-radius: 4px;
      padding: .25em .5em;
      opacity: 0;
      display: inherit;
      translate: calc(-50% + 1em) calc(-200% - 0.5em);
      transition: opacity 125ms ease 500ms;
    }

    /* Enforce links (with icons, especially) are only highlighted when hovered over */
    --red: var(--text-color);
    --orange: var(--text-color);
    --yellow: var(--text-color);
    --green: var(--text-color);
    --blue: var(--text-color);
    --purple: var(--text-color);
    --text: var(--text-color);

    a:hover svg {
      --red: var(--primary-color);
      --orange: var(--primary-color);
      --yellow: var(--primary-color);
      --green: var(--primary-color);
      --blue: var(--primary-color);
      --purple: var(--primary-color);
      --text: var(--primary-color);
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }

  a {
    color: var(--text-color) !important;
    outline: none;

    &:focus,
    &:hover {
      color: var(--primary-color) !important;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__license {
    margin: 1.25em;
    font-size: 1rem;
    width: max-content;
    margin-inline: auto;
  }
}
