@use "../abstract/mixins" as *;

.footer {
  @include contain;
  padding-block: 2em;
  font-size: 1.2rem;
  border-top: 1px solid var(--ctp-frappe-surface2);

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 1em;

    /* Enforce links (with icons, especially) are only highlighted when hovered over */
    --red: var(--text-color);
    --orange: var(--text-color);
    --yellow: var(--text-color);
    --green: var(--text-color);
    --blue: var(--text-color);
    --purple: var(--text-color);
    --text: var(--text-color);

    a:hover svg {
      --red: var(--primary-color);
      --orange: var(--primary-color);
      --yellow: var(--primary-color);
      --green: var(--primary-color);
      --blue: var(--primary-color);
      --purple: var(--primary-color);
      --text: var(--primary-color);
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }

  a {
    color: var(--text-color) !important;
    outline: none;

    &:focus,
    &:hover {
      color: var(--primary-color) !important;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
