@use '../abstract/variables';
@use '../abstract/mixins';

.header {
  @include mixins.contain;
  position: absolute;
  top: 3rem;
  left: 10vw;
  padding: 0 2rem;
  height: 6rem;
  color: variables.$color-dark;
  font-family: PanameraRegular;
  z-index: 100;
  transition: transform 0.3s, opacity 0.3s;

  @include mixins.responsive(phone) {
    left: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  @media (prefers-color-scheme: dark) {
    color: variables.$color-light;
  }

  &--hide {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
