@use "../abstract/mixins" as *;

.navbar {
  background-color: var(--bg-color-3);
  padding: var(--padder-margin) calc(var(--padder-margin) * 2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: var(--shadow);
  transition: transform 200ms ease;
  transform: translate(0, 0);

  &--hidden {
    transform: translate(0, -150%);
  }

  &__content {
    @include contain;
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: min(calc(100vw - var(--padder-margin) * 2), var(--max-width));
    border-radius: var(--border-radius);

    &--hidden {
      transform: translate(-50%, -150%);
    }
  }

  h1 {
    font-size: 2rem;
  }

  h1:hover a,
  h2:hover a {
    color: var(--primary-color);
  }

  // navigation links
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-left: 2em;
    font-size: 1.1rem;

    &--active,
    & a:focus,
    & a:hover {
      color: var(--primary-color);
    }
  }

  // dropdown menu
  &__dropdown {
    margin-left: auto;
  }

  // &__breadcrumb {
  //   display: flex;
  //   font-size: 1.4rem;
  //
  //   &--active {
  //     @include unselectable;
  //     // border-bottom: 1px solid var(--primary-color);
  //     color: var(--subtext-color);
  //   }
  // }
}
