@use '../abstract/variables';
@use '../abstract/mixins';

.nav {
  // @include mixins.glass-effect;
  // position: fixed;
  position: absolute;
  top: 3rem;
  right: 10vw;
  width: 80vw;
  padding: 1rem 2rem;
  background-color: variables.$color-light;
  border-radius: variables.$border-radius;
  border: variables.$border-color;
  box-shadow: variables.$box-shadow-light;
  z-index: 99;
  transition: width .4s, right .4s, transform .4s;
  will-change: right, width;

  @include mixins.responsive(phone) {
    width: 100vw;
    height: 12rem;
    top: 1rem;
    left: 0;
    right: 0;
  }

  @media (prefers-color-scheme: dark) {
    color: variables.$color-light;
    background: variables.$background-gradient-dark;
    border: variables.$border-color-dark;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.4rem;
    height: 2.4rem;
  }

  &::after {
    opacity: 0;
    transition: opacity .2s .8s ease-out;
    background-image: none;
  }

  &--hide {
    right: 3vw;
    width: 5rem;
    height: 5rem;
    // border-radius: 50%;
    border-radius: 5px;
    transition:
      width 0.8s cubic-bezier(1,0,0,1),
      right 0.4s,
      border-radius 0.4s 0.6s;

    &:hover {
      cursor: pointer;
    }

    @include mixins.responsive(phone) {
      width: 5rem;
      height: 5rem;
      right: 4vw;
    }

    &::after {
      background-image: url(../assets/images/hamburger.svg);
      opacity: 1;

      @media (prefers-color-scheme: dark) {
        background-image: url(../assets/images/hamburger-dark.svg);
      }
    }
  }

  &--small {
    right: 3vw;
    width: 23vw;
    min-width: min-content;
    background-image: none;
    // background-color: rgba(variables.$color-light, 0.8);
    background-color: variables.$color-light;

    @media (prefers-color-scheme: dark) {
      background-color: #2C5364;
    }

    @include mixins.responsive(tablet) {
      opacity: 1;
    }

    @include mixins.responsive(phone) {
      right: 10vw;
      width: 80vw;
    }

    // Opens dropdown menu automatically when hover effect is not possible (mobile devices)
    @media only screen and (hover: none){
      & .dropdown__content {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
    transition: transform .4s, opacity .2s;

    &:hover {
      cursor: pointer;
    }

    @include mixins.responsive(phone) {
      justify-content: center;
      padding-top: 6rem;
    }

    &--hide {
      visibility: none;
      pointer-events: none;
      opacity: 0;
      transform: translateX(10rem);
    }
  }

  &__item {
    margin: 0 2rem;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid variables.$color-darker;

      @media (prefers-color-scheme: dark) {
        border-bottom: 2px solid variables.$color-light;
      }
    }
  }
}
