@use '../abstract/mixins';
@use '../abstract/variables';

.roadmap {
  // @include mixins.glass-effect;
  background-color: variables.$color-light;
  height: 100%;
  text-align: center;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$color-dark;
  padding: 4rem;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #2C5364;
    color: variables.$color-light;
    background: variables.$background-gradient-dark;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__item {
    position: relative;
    margin: 2rem 0;
    left: 50%;
    transform: translateX(-50%);
    transition: color 0.2s ease-out;

    &--1,
    &--2,
    &--3,
    &--4 {
      font-weight: bold;
      cursor: default;
    }

    &--1:hover {
      color: #45ae45;
    }

    &--2:hover {
      color: #e36534;
    }

    &--3:hover {
      color: #3838b0;
    }

    &--4:hover {
      color: #e14a64;
    }

  }
}
