.rotating-btn {
  overflow: hidden;
  height: var(--icon-size);
  border-radius: 50%;

  &--active>span {
    transform: rotate(180deg);
  }

  &>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--icon-size) * 2);
    transition: transform 250ms 50ms ease;
  }
}
