@use '../abstract/variables';
@use '../abstract/mixins';

.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__label {
    position: relative;
    left: -5rem;
  }

  &__input {
    border: 1px solid variables.$color-dark;
    border-radius: 5px;
    box-shadow: variables.$box-shadow-light;
    padding: 1.25rem;
    width: 100%;
    outline: none;
    font-size: 1.8rem;
    font-family: inherit;
  }

  &__results {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    // padding: 1.25rem;
    border-radius: 5px;
    border: 1px solid variables.$color-dark;
    box-shadow: variables.$box-shadow-light;
    background-color: variables.$color-lighter; 
    color: variables.$color-dark;
    z-index: 11;

    &-card {}

    &-link {
      padding: 1.25rem;
      display: block;
      width: 100%;
      height: 100%;

      &:focus,
      &:hover {
        background: variables.$color-secondary;
        color: variables.$color-dark;
      }
    }

    &:empty {
      display: none;
    }
  }

}
