@use '../abstract/mixins' as *;

.listingblock-tabs {
	--tabs-padding: 0.5em;

	ul {
		display: flex;
		gap: 1em;
	}

	.listingblock-tabs__item {
		padding-block: var(--tabs-padding);
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		transform: translateY(calc(var(--tabs-padding) / 2));

		&.active {
			background-color: var(--editor-background);
		}
	}

	.listingblock-tabs__item.active button {
		@include unselectable;
	}

	button {
		font-family: var(--font-mono);
		padding: 0.25em 1em;
		font-size: 0.75em;

		&:hover {
			color: var(--accent-color);
		}
	}
}
