.toc {
  line-height: 1.4;
  background-color: var(--bg-color-3);
  border-radius: var(--border-radius);
  padding: 1em;

  /* NOTE: Only handles one level of indentation */
  ul {
    padding-left: 2em;
  }

  &__item {
    margin-block: 0.25em;

    a {
      color: var(--subtext-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
