@use '../abstract/variables';

.tooltip {
  position: relative;
  display: inline-block;
  // width: 100%;
  // height: 100%;

  &:hover::before {
    opacity: 1;
    transform: scale(1);
    width: max-content;
  }

  &:hover .icon,
  &:focus .icon {
    fill: variables.$color-primary;
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 110%;
    left: 0;
    padding: .5rem;
    border-radius: variables.$border-radius;
    background-color: variables.$color-dark;
    color: variables.$color-light;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s opacity 0.3s;
    z-index: 9999;
  }

  &--right {
    position: relative;

    &::before {
      top: 0;
      left: 3rem;
    }
  }

  &--left {
    &::before {
      content: attr(data-tooltip);
      position: absolute;
      top: 110%;
      left: -3rem;
      padding: .5rem;
      border-radius: variables.$border-radius;
      background-color: variables.$color-dark;
      color: variables.$color-light;
      transform: scale(0);
      opacity: 0;
      transition: transform 0.2s opacity 0.3s;
    }
  }
}
