@use '../abstract/variables';

.tooltip {
  position: relative;

  &:hover::before {
    opacity: 1;
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 110%;
    width: max-content;
    height: min-content;
    padding: 1rem;
    color: variables.$color-light;
    border-radius: 5px;
    background-color: variables.$color-dark;
    opacity: 0;
    z-index: variables.$depth-tooltip;
    pointer-events: none;
  }
}