@use '../abstract/' as *;

.tooltip {
	@include arrow($position: bottom, $color: var(--foreground-color), $size: 0.5em);
	@include unselectable;
	position: absolute;
	background-color: var(--foreground-color);
	color: var(--background-color);
	border-radius: calc(var(--border-radius) / 2);
	padding: 0.25em 0.5em;
	display: inherit;
	opacity: 0;
	translate: calc(-50% - 1em) -125%;
	will-change: opacity;
	box-shadow: var(--shadow);
	transition:
		opacity 100ms ease,
		translate 200ms linear(0, 0.008 1.1%, 0.034 2.3%, 0.134 4.9%, 0.264 7.3%, 0.683 14.3%, 0.797 16.5%, 0.89 18.6%, 0.967 20.7%, 1.027 22.8%, 1.073 25%, 1.104 27.3%, 1.123 30.6%, 1.119 34.3%, 1.018 49.5%, 0.988 58.6%, 0.985 65.2%, 1 84.5%, 1);
}
