@use '../abstract/mixins';
@use '../abstract/variables';

.section__footer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 25rem;
  margin: 5rem 0 10rem 0;
  padding: 4rem;
  // background-color: variables.$color-dark;
  background-color: var(--background-color);
  color: variables.$color-light;

  @include mixins.responsive(landscape) {
    border-radius: 0;
  }

  @include mixins.responsive(tablet) {
    margin: 5rem 0 0 0;
  }

  &-icons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    & svg {
      fill: white;
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
