@use 'sass:map';
@use '../abstract' as *;

.section__footer {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @include flex(column);
  gap: 2rem;
  border-radius: 5px;
  min-height: 25rem;
  margin: 5rem 0 10rem 0;
  padding: 4rem;
  // background-color: $color-dark;
  background-color: map.get($colors, 'neutral', 'darker');
  // color: $color-light;
  color: var(--background-color);
  border: 2px solid transparent;

  body.dark & {
    background-color: map.get($colors, 'neutral', 'darkest');
    color: var(--text-color);
    border: 2px dashed var(--text-color);
  }

  @include responsive(landscape) {
    border-radius: 0;
  }

  @include responsive(tablet) {
    margin: 5rem 0 0 0;
  }

  &-icons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    & svg {
      fill: white;
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  p {
    font-family: inherit;
  }
}
