@use '../abstract' as * ;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
  // border-bottom: 1px solid rgba(variables.$color-dark, 0.1);
  border-bottom: 1px solid var(--text-color);

  @include responsive(portrait) {
    margin: 2rem;
  }

  @include responsive(phone) {
    min-height: unset;
    margin: 1rem;
  }
  
  // @include responsive(phone) {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }

  &__title {
    font-family: $main-typography;
    font-size: 3.6rem;
    flex: 1 0 auto;

    a {
      font-family: $main-typography;

      @include responsive(portrait) {
        font-size: 3rem;
      }
      
      @include responsive(portrait) {
        font-size: 3rem;
      }

      &:focus,
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
