@use "sass:map";
@use "../abstract" as *;

.section {
  padding: 2rem 4rem;

  @include responsive(tablet) {
    padding: 1rem 2rem;
  }

  @include responsive(phone) {
    padding: 1rem;
  }

  &__title {
    // font-family: 'PanameraRegular';
    font-family: $main-typography;
    font-size: 4rem;
    font-weight: bold;
  }

  &__web-applications,
  &__graphics,
  &__scripting,
  &__sysadmin,
  &__devops {
    @include contain;
  }

  &__about {
    background-color: map.get($colors, "neutral", "lighter");
    margin-block: 5rem 10rem;
    padding-block: 5rem;

    &--content {
      max-width: 80ch;
      margin-inline: auto;
    }

    & > *::selection,
    &--content > *::selection {
      background-color: map.get($colors, "secondary", "light");
    }

    header {
      text-align: center;
    }

    h3 {
      font-family: $main-typography;
      font-size: 2.6rem;
      font-weight: bold;
      margin: 4rem 0 2rem 0;
    }

    a,
    p {
      font-family: $post-typography;
      font-size: 1.8rem;
      line-height: 1.6;
      margin-block: 1rem;

      em {
        font-style: italic;
      }
    }

    a {
      color: var(--text-color);
      font-weight: bold;
      border-bottom: 1px solid currentColor;
    }

    a:focus,
    a:hover {
      background-color: map.get($colors, "secondary", "light");
      color: map.get($colors, "neutral", "dark");
      border-bottom: 1px solid transparent;
    }

    @include dark-mode {
      background-color: map.get($colors, "neutral", "dark");
    }
  }
}
