@use '../abstract/_variables.scss';
@use '../abstract/mixins';

.section {

  padding: 2rem 4rem;

  @include mixins.responsive(tablet) {
    padding: 1rem 2rem;
  }

  @include mixins.responsive(phone) {
    padding: 1rem;
  }


  &__title {
    // font-family: 'PanameraRegular';
    font-family: variables.$main-typography;
    font-size: 4rem;
    font-weight: bold;
  }

  &__web-applications {}
  &__graphics {}
  &__scripts {}
  &__devops {}
}
