/**
*  MEDIA QUERY REFERENCE
*  | Breakpoint     | Pixels |  Em   |
*  |----------------|--------|-------|
*  | Narrow         | < 400  | 25    |
*  | Phone          | < 600  | 37.5  |
*  | tablet         | < 768  | 48    |
*  | Portrait       | < 900  | 56.25 |
*  | Landscape      | < 1200 | 75    |
*  | Desktop        | < 1800 | 112.5 |
*  | Big Desktop    | > 1800 | 112.5 |
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == narrow     { @media only screen and (max-width: 25em)    { @content }; }
  @if $breakpoint == phone      { @media only screen and (max-width: 37.5em)  { @content }; }
  @if $breakpoint == tablet     { @media only screen and (max-width: 48em)    { @content }; }
  @if $breakpoint == portrait   { @media only screen and (max-width: 56.25em) { @content }; }
  @if $breakpoint == landscape  { @media only screen and (max-width: 75em)    { @content }; }
  @if $breakpoint == widescreen { @media only screen and (min-width: 112.5em) { @content }; }
}

@mixin contain {
  max-width: $max-width;
  margin: 0 auto;

  @include responsive(landscape) {
    max-width: 95rem;
  }
  @include responsive(portrait) {
    max-width: 75rem;
  }
  @include responsive(tablet) {
    max-width: 60rem;
  }
  @include responsive(phone) {
    max-width: 50rem;
  }
  @include responsive(narrow) {
    max-width: 40rem;
  }
}

@mixin glass-effect {
  background-image: linear-gradient(
    to right top,
    rgba(241,241,241,.3),
    rgba(255,255,255,.2));
  box-shadow: 1rem 1rem 4rem rgba($color-darker, .15);

  @supports (backdrop-filter: blur(4px)) or (-webkit-backdrop-filter: blur(4px)) {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(
    to right top,
    rgba(0,0,0,.3),
    rgba(0,0,0,.2)
    );
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

@mixin has-background($color) {
  color: transparent;
  background-clip: text;
  background-color: $color;
}
