/* COLORS */

$color-light: #F1F1F1;
$color-lighter: #F4F4F4;
$color-dark: #333;
$color-darker: #212121;

$color-gray: #95a5a6;
$color-gray-light: #bdc3c7;
$color-gray-dark: #7f8c8d;

$color-primary: #f94c43;
$color-secondary: #f4c862;

$color-p5: #ED225D;
$color-logo: #7b92f9;

$background-gradient: linear-gradient(
  120deg,
  $color-lighter,
  $color-gray-light
);

$background-gradient-dark: linear-gradient(
  120deg,
  #2C5364,
  #203A43,
  #0F2027
);

/* LAYOUT */

$max-width: 100rem;
$border-radius: 3px;
$border-color: 1px solid $color-dark;
$border-color-dark: 1px solid #2C5364;
$column-gap: 2rem;

/* EFFECTS */

$box-shadow: .75rem 1.25rem 2rem rgba($color-darker, 0.3);
$box-shadow-light: .25rem 1rem 2rem rgba($color-darker, 0.2);
$text-shadow: 1rem 1rem 1.25rem rgba($color-darker, .3);

@media (prefers-color-scheme: dark) {
  $box-shadow: none;
  $box-shadow-light: none;
  $text-shadow: none;
}
