/* COLORS */

// $color-info: #3F5EFB;
// $color-warning: yellow;
// $color-danger: coral;
// $color-success: green;

$color-light: #F1F1F1;
$color-lighter: #F4F4F4;
$color-dark: #333;
$color-darker: #212121;

$color-gray: #95a5a6;
$color-gray-light: #bdc3c7;
$color-gray-dark: #7f8c8d;

$background-gradient: linear-gradient(
  120deg,
  $color-lighter,
  $color-light,
  $color-gray-light
);

$background-gradient-dark: linear-gradient(
  120deg,
  #2C5364,
  #203A43,
  #0F2027
);

// $color-html: #e34f26;
// $color-css: #1572b6;
// $color-js: #f7df1e;
// $color-py: #3776ab;
// $color-wp: #21759b;
// $color-lx: #212121;
$color-p5: #ED225D;
$color-logo: #7b92f9;

/* LAYOUT */

$max-width: 100rem;
$border-radius: 3px;
$border-color: 1px solid $color-dark;
$border-color-dark: 1px solid #2C5364;
$column-gap: 2rem;

/* EFFECTS */

$box-shadow: 1rem 2rem 2rem rgba($color-darker, 0.3);
$box-shadow-light: .25rem 1rem 2rem rgba($color-darker, 0.2);
$text-shadow: 1rem 1rem 1.25rem rgba($color-darker, .3);

@media (prefers-color-scheme: dark) {
  $box-shadow: none;
  $box-shadow-light: none;
  $text-shadow: none;
}
