/* COLORS */

$color-light: #F1F1F1;
$color-lighter: #F4F4F4;

$color-dark: #333;
$color-one-dark: #282c34;
$color-darker: #212121;

$color-primary: #fb7158;
$color-secondary: #f4c862e5;

$color-p5: #ED225D;
$color-sojourn: #7b92f9;
$color-nginx: #009639;
$color-mongo: #47A248;
$color-wordpress: #21759B;
$color-webpack: #8DD6F9;
$color-pwa: #5A0FC8;
$color-bash: #555753;
$color-react: #61DAFB;
$color-js: #f7d249;


/* LAYOUT */

$max-width: 120rem;

/* EFFECTS */

$box-shadow: .75rem 1.25rem 2rem rgba($color-darker, 0.3);
$box-shadow-light: .25rem 1rem 2rem rgba($color-darker, 0.2);
$text-shadow: 1rem 1rem 1.25rem rgba($color-darker, .3);

@media (prefers-color-scheme: dark) {
  $box-shadow: none;
  $box-shadow-light: none;
  $text-shadow: none;
}

/* DEPTH */

$depth-tooltip: 99;
$depth-checkbox: 90;
$depth-stack: 80;