---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/PostCard.astro';

const blogPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
);
---

<Layout>
	<ul>
		{blogPosts.map(post => (
			<li><PostCard post={post} /></li>
		))}
	</ul>
</Layout>

<style>
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
</style>
