---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

const blogPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
);
---

<Layout>
	<ul>
		{blogPosts.map(post => (
			<li>
				<article>
					<h3><a href={`/blog/${post.id}`}>{post.data.title}</a></h3>
					<FormattedDate date={post.data.createdAt} />
				</article>
			</li>
		))}
	</ul>
</Layout>

<style>
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
h3 a {
	&:focus,
	&:hover {
		color: var(--accent-color);
	}
}
</style>
