---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostCard from '../../components/PostCard.astro';

const blogPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
);
---

<Layout>
	<header>
		<h1>Blog</h1>
		<p class="preamble">Here you will find some of my notes dedicated to my future self.</p>
		<p class="preamble">They are mostly about miscellaneous topics that I find interesting, like web development, system administration and open source in general.</p>
		<p class="preamble">Hopefully you will find them useful too.</p>
	</header>

	<ul>
		{blogPosts.map(post => (
			<li><PostCard post={post} /></li>
		))}
	</ul>
</Layout>

<style>
p.preamble {
	color: var(--subtitles);
	margin-bottom: 1em;
}
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
</style>
