@use 'sass:map';
@use "../abstract" as *;

.blog {
  display: grid;
  // grid-template-columns: 1fr 5fr;
  grid-template:
    "sidebar posts" auto /
    1fr      5fr;
  gap: 2rem;
  // padding: 1rem;
  padding-inline: 1rem;
  padding-block: 2rem;

  @include responsive(tablet) {
    // grid-template-columns: 1fr;
    grid-template:
        "sidebar" auto
        "posts" auto /
        1fr;
  }

  &__post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-template-rows: min-content;
    gap: 2rem;
    // padding-right: 2rem;
  }

  &__post {
    background-color: map.get($colors, 'neutral', 'lightest');
    color: var(--text-color);
    border-radius: 5px;
    padding: 2rem;
    box-shadow: $box-shadow-light;
    transition: transform 0.4s ease;

    @include dark-mode {
      background-color: map.get($colors, 'neutral', 'darkest');
    }
  }

  &__post-header {
    position: relative;
    overflow: hidden;
  }

  &__post-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 2.5rem;

    a {
      &:focus,
      &:hover {
        color: var(--accent-color);
        outline: none;
      }
    }
  }

  &__post-excerpt {}

  a, p {
    font-family: $main-typography;
  }
}

//.blog {
//  // min-height: 100vh;
//  padding: 2rem;
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
//  grid-template-rows: min-content;
//  gap: 2rem;

//  @include responsive(phone) {
//    padding: 1rem;
//    gap: 1rem;
//  }

//  &__category {
//    display: flex;
//    flex-direction: column;
//    box-shadow: $box-shadow-light;
//    background-color: #fafafa;
//    padding: 2rem;
//    border-radius: 5px;
//    transition: transform 0.4s ease;
//  }

//  &__category-icon {
//    border-bottom: 1px solid map.get($colors, 'neutral', 'dark');
    
//    /* Creates a utiliy class for each brand color to fill the svg icon */
//    @each $k, $v in map.get($colors, 'brands') {
//      &--#{$k} {
//        svg {
//          fill: $v;
//        }

//        @include dark-mode {
//          svg {
//            fill: var(--background-color);
//          }
//        }
//      }
//    }

//    svg {
//      @include size(3.2rem);
//    }
//  }

//  &__list {
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    align-items: flex-start;
//    padding-top: 2rem;

//    @include responsive(phone) {
//      padding-top: 1rem;
//    }
//  }

//  &__item {
//    margin: 0.6rem 0;
//    min-width: 10rem;
//    max-width: 20rem;

//    &::before {
//      content: '-';
//      position: relative;
//      left: -.25em;
//      color: map.get($colors, 'neutral', 'dark');
//    }
//    // &--icon {
//    //   border-bottom: 2px solid $color-dark;
//    //   padding-bottom: 1rem;
//    //   width: 100%;
//    // }
//    //
//    // &--icon svg {
//    //   height: 3.2rem;
//    //   width: 3.2rem;
//    // }
//  }

//  &__link {
//    font-family: inherit;
//    color: map.get($colors, 'neutral', 'dark');

//    &:hover {
//      // color: $color-primary;
//      color: var(--accent-color);
//    }
//  }
//}
