@use "../abstract/variables";
@use "../abstract/mixins";

.blog {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: min-content;
  gap: 2rem;

  @include mixins.responsive(phone) {
    padding: 2rem;
  }

  &__category {
    display: flex;
    flex-direction: column;
    box-shadow: variables.$box-shadow-light;
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }

  &__category-icon {

    border-bottom: 2px solid variables.$color-dark;

    svg {
      height: 3.2rem;
      width: 3.2rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
  }

  &__item {
    margin: 0.6rem 0;
    min-width: 10rem;
    max-width: 20rem;

    // &--icon {
    //   border-bottom: 2px solid variables.$color-dark;
    //   padding-bottom: 1rem;
    //   width: 100%;
    // }
    //
    // &--icon svg {
    //   height: 3.2rem;
    //   width: 3.2rem;
    // }
  }

  &__link {
    font-family: inherit;
    &:hover {
      color: variables.$color-primary;
    }
  }
}
