@use 'sass:map';
@use '../abstract' as *;

.single-post {
  margin: 0 auto;
  width: 80ch;

  // Set a consisten margin between elements
  &,  
  &__content h3,
  &__content p,
  &__header {
    margin-block: 1em;
  }

  &__content {
    p {
      font-family: FiraSans;
      font-size: 1.8rem;
      line-height: 1.8;
    }

    h3 {
      font-family: PanameraRegular;
      font-size: 2.6rem;
      font-weight: bold;
    }
  }

  &__title {
    font-family: PanameraRegular;
    font-size: 4rem;
    font-weight: bold;

    &::selection {
      color: map.get($colors, 'neutral', 'dark');

    }

    @include dark-mode {
      color: map.get($colors, 'secondary', 'normal');
    }
  }

  // Element created dynamically through JS. Appears along floating menu
  &__index {
    @extend %position-fixed;
    display: none;
    bottom: 10rem;
    right: 10rem;

    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;

    padding: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 3px;

    li {
      margin-block: .25em;
    }
    
    a:hover {
      color: var(--accent-color);
    }
  }
}
