---
import Layout from '../../layouts/Layout.astro';
import SvgIcon from '../../components/SvgIcon.astro';
---

<Layout>
	<header>
		<h1>What I Use</h1>
		<p class="preamble">This is what I use every day to get things done.</p>
		<p class="preamble">As I like to switch things around from time to time, I'm listing here various technologies that I've used and that I particularly like, or that I have installed in separate machines.</p>
		<p class="preamble">
			Feel free to <a href="https://codeberg.org/d10f/dotfiles" target="_blank">checkout my dotfiles</a> to see how I configure these tools!
		</p>
	</header>

	<section>
		<h2>Hardware</h2>
		<article>
			<header>
				<h3>
					<a
						href="https://www.tuxedocomputers.com/en/Infos/News/Tiger-in-sheeps-clothing-The-new-TUXEDO-Book-XP14.tuxedo"
						target="_blank"
					>
						Tuxedo Book XP14 Gen12
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>A pretty decent general purpose computer that allows me to get through the day without much fuzz. The 14" screen makes it compact and lighweight to take on the go, and the keys are silent but pleasant to type with.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://www.newskillgaming.com/en/newskill-pyros-v2-teclado-gaming-inalambrico-60" target="_blank">
						Newskill Pyros Red 60% Mechanical Keyboard
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>I have limited space, and so having a compact keyboard is essential to me. This was one of the cheapest I could find that would still live up to the task of long programming sessions every day. And it has not disappointed me.</p>
		</article>

		<article>
			<header>
				<h3>
					<a
						href="https://www.logitech.com/en-us/shop/p/m575-ergo-wireless-trackball"
						target="_blank"
					>
						Ergo M575
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>This saves me a ton of space and neck pain from awkardly waving my arm across the desk every few minutes. Easily one of the best purchases in my entire setup.</p>
		</article>

		<article>
			<header>
				<h3>
					<a
						href="https://eu.jvc.com/headphones/head-band/HA-L50-E/"
						target="_blank"
					>
						JVC HA-L50 Headphones
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>There's nothing much to say about these headphones, which is why they are fantastic.</p>
		</article>
	</section>

	<section>
		<h2>Operating System</h2>
		<article>
			<header>
				<h3>
					<a href="https://debian.org" target="_blank">
						Debian
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>
				One of the oldest GNU/Linux distributions, well-known for its stability and reliability. I use this in both servers and desktop computers.
			</p>
		</article>
	</section>

	<section>
		<h2>Desktop</h2>
		<article>
			<header>
				<h3>
					<a href="https://xfce.org" target="_blank">
						XFCE
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>A simple and lightweight desktop environment. It embodides the traditional UNIX philosophy of modularity, making it very simple to use and customize.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://i3wm.org" target="_blank">
						i3
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>A tiling window manager designed to be simple. It has plenty of options, however, and it integrates nicely with XFCE.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://dwm.suckless.org" target="_blank">
						dwm
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>Another tiling window manager that excels at being extremely minimal. It's quite fun to play around with, but more importantly it's very lightweight, which is ideal for low-end devices.</p>
		</article>
	</section>

	<section>
		<h2>Terminal & Shell</h2>
		<article>
			<header>
				<h3>
					<a href="https://alacritty.org" target="_blank">
						Alacritty
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>My favorite terminal emulator. It's fast, and easy to configure using plain text files.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://st.suckless.org" target="_blank">
						St
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>Another piece of software from the Suckless project that delivers on the promise of extreme simplicity.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://gnu.org/software/bash" target="_blank">
						Bash
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>The most popular shell used in most Unix systems. It's stable and reliable.</p>
		</article>
	</section>

	<section>
		<h2>Text Editor & IDE</h2>

		<article>
			<header>
				<h3>
					<a href="https://neovim.io" target="_blank">
						Neovim
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>An excellent terminal-based text editor for simple text processing, as well as a full blown IDE for larger projects.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://vscodium.com" target="_blank">
						VSCodium
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>Free and open source version of Microsoft's VSCode. Works exactly the same but has all the telemetry and tracking removed.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://www.jetbrains.com/pycharm/" target="_blank">
						PyCharm
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>JetBrains products are great for having all the goodies with zero configuration out of the box. In addition to PyCharm, I also reach out for Intellij for Java, RubyMine for Ruby, etc.</p>
		</article>
	</section>

	<section>
		<h2>Fonts & Themes</h2>

		<article>
			<header>
				<h3>
					<a href="https://github.com/catppuccin" target="_blank">
						Catppuccin
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>My go-to color scheme when I'm not sure what to choose. Particularly useful for dark mode on poorly designed websites.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://monokai.pro" target="_blank">
						Monokai Pro
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>I prefer Catppuccin for most things, but I still use this one for VS Codium as I really like the color balance and icon design.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://github.com/tonsky/FiraCode" target="_blank">
						FiraCode
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>A nice, readable font that I unfortunately rarely use outside of text editing.</p>
		</article>
	</section>

	<section>
		<h2>Web Browsing</h2>
		<article>
			<header>
				<h3>
					<a href="https://www.mozilla.org/firefox" target="_blank">
						Mozilla Firefox
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>Firefox remains one of the few browsers with plenty of configuration options. One of my favorite features is the ability to inject custom CSS to the interface itself, as well as overwrite websites' stylesheets.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://librewolf.net" target="_blank">
						LibreWolf
						<SvgIcon iconName="external-link" />
					</a>
				</h3>

			</header>
			<p>A privacy-focused fork of Firefox. It comes out of the box configured to protect your privacy.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://vivaldi.com" target="_blank">
						Vivaldi
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>My go-to Chromium-based browser these days. It's highly customizable, though not as strong in terms of privacy.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://ublockorigin.com/" target="_blank">
						uBlock Origin
						<SvgIcon iconName="external-link" />
					</a>
				</h3>
			</header>
			<p>A must-have extension to block ads, trackers and all sorts of unwanted junk.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://vimium.github.io/" target="_blank">
						Vimium
						<SvgIcon iconName="external-link" />
					</a>
				</h3>

			</header>
			<p>Once Vim's keybindings have taken over your muscle memory, it's impossible to go back! This extension helps navigating webpages using Vim bindings.</p>
		</article>

		<article>
			<header>
				<h3>
					<a href="https://www.getsinglefile.com/" target="_blank">
						SingleFile
						<SvgIcon iconName="external-link" />
					</a>
				</h3>

			</header>
			<p>For archiving purposes, it's very useful to have an extension that downloads websites as single files.</p>
		</article>
	</section>

</Layout>

<style>
p.preamble {
	margin-bottom: 1em;
	color: var(--subtitles);

	a {
		border-bottom: 2px solid var(--accent-color);

		&:visited {
			color: var(--ctp-latte-mauve);
		}

		&:focus,
		&:hover {
			color: var(--accent-color);
		}
	}
}
section {
	h2 {
		display: inline-block;
		border-bottom: 2px solid var(--accent-color);
	}
}
article {
	background-color: var(--background-color-2);
	border-radius: var(--border-radius);
	padding: 1em;
	margin-block: 1em;
}
header h3 a {
	transition: color 200ms ease;

	svg {
		stroke: currentColor;
		height: 0.75em;
		aspect-ratio: 1;
		opacity: 0;
	}

	&:focus,
	&:hover {
		color: var(--accent-color);

		svg {
			opacity: 1;
		}
	}
}
</style>
