.blog {
  padding-inline: var(--padder-margin);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  // max-width: var(--max-width);
  max-width: 80ch;
  margin-inline: auto;

  // @media (min-width: 650px) {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //   justify-content: unset;
  //   align-items: unset;
  // }
}
