@use '../abstract/mixins';
@use '../abstract/variables';

/* MAIN BLOG PAGE STYLES */

.blog {
  &__header {
    @include mixins.contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 80vw;
    height: 6rem;
    padding: 1rem 2rem;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-dark;
    box-shadow: variables.$box-shadow-light;
    z-index: 99;
    transition: width .4s, right .4s;

    // @media (prefers-color-scheme: dark) {
    //   color: variables.$color-light;
    //   border: 1px solid #2C5364;
    // }

    @include mixins.responsive(tablet) {
      flex-direction: column;
    }

    @include mixins.responsive(phone) {
      font-size: 1.4rem;
      margin-bottom: 6rem;
    }
  }

  &__title {
    font-family: PanameraRegular;
    flex: 1 0 auto;

    @include mixins.responsive(phone) {
      line-height: initial;
    }
  }

  &__main {
    @include mixins.contain;
    margin-top: 5rem;

    @include mixins.responsive(tablet) {
      margin-top: 6rem;
    }

    // A single post page
    &--single {
      display: grid;
      grid-template-columns: 25% 1fr;

      @include mixins.responsive(tablet) {
        grid-template-columns: 1fr;
      }

      @include mixins.responsive(phone) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__aside {
    text-align: center;

    @include mixins.responsive(tablet) {
      margin-bottom: 2rem;
      width: 80%;
      justify-self: center;
    }
  }

  &__table-of-contents {
    transition: all 0.25s;
    border-right: 2px solid #333;

    ul {
      position: fixed;
    }

    @include mixins.responsive(tablet) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 2rem);
      opacity: 0;
      pointer-events: none;
      border-radius: variables.$border-radius;
      border: 1px solid variables.$color-dark;
      box-shadow: variables.$box-shadow-light;
      background-color: variables.$color-light;
      padding: 1.25rem;
    }

    // @media (prefers-color-scheme:dark) {
    //   color: variables.$color-light;
    //   border-right: 1px solid variables.$color-light;
    //   box-shadow: none;
    // }
  }

  &__table-item {
    margin: 0.25rem 0;
  }

  &__table-link {
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid variables.$color-dark;
    }
  }

  &__toggle {
    text-align: left;
    display: none;
    pointer-events: none;
  }

  &__toggle-label {
    display: none;
    position: relative;
    text-decoration: underline;

    @include mixins.responsive(tablet) {
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: '\25BA';
      position: absolute;
      left: calc(100% + .75rem);
      transition: transform 0.24s;
    }
  }

  &__toggle:checked ~ &__table-of-contents {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
  }

  &__toggle:checked + &__toggle-label::before {
    transform: rotate(90deg);
  }

  &__latest {
    display: flex;
    flex-direction: column;
    margin: 4rem;
  }
}

/** POST STYLES */

.post {
  position: relative;
  padding: 1rem;
  transition: transform 0.25s ease;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &:hover::before {
    opacity: .9;
    transform: translateY(0);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    box-shadow: variables.$box-shadow;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.25s;
  }

  &__title {
    font-family: PanameraRegular;
    font-size: 3rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  // As shown in the index.php page
  &__preview {
    border: 2px solid transparent;
    border-bottom: 2px solid variables.$color-dark;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow-light;
    padding: 1rem 2rem;
  }

  &__content {
    font-size: 1.7rem;
    padding: 2rem 4rem;
    background-color: variables.$color-light;
    overflow-x: hidden;

    @include mixins.responsive(tablet) {
      margin: 0;
    }

    @include mixins.responsive(phone) {
      width: 100vw;
    }

    // @media (prefers-color-scheme:dark) {
    //   color: variables.$color-light;
    //   background-color: variables.$color-dark;
    // }

    h3 {
      margin: 2rem 0;
      font-size: 2.2rem;
    }

    p {
      margin: 1rem 0;
    }

    a {
      border-bottom: #f94c43;

      &:hover {
        color: #f94c43;
      }
    }
  }

  &__preview {

    &:hover {
      border: 2px solid variables.$color-dark;
    }

    // @media (prefers-color-scheme:dark) {
    //   color: variables.$color-light;
    //   background-color: variables.$color-dark;
    // }
  }

  &__permalink {
    position: relative;
    overflow: hidden;
    z-index: 2;
    // border-bottom: 2px solid transparent;
    //
    &:hover {
      // border-bottom: 2px solid variables.$color-dark;
      color: variables.$color-primary;
    }
  }
}

/* CODE BLOCKS */

pre.wp-block-code {
  margin: 2rem 0;
  overflow: auto;

  // @media (prefers-color-scheme:dark) {
  //   color: variables.$color-dark;
  //   background-color: variables.$color-light;
  // }

  & code {
    padding: 2rem;
    background: #333; // to match with prism.js theme
    // background: variables.$color-dark;
    color: variables.$color-light;
    border-radius: variables.$border-radius;
    min-width: max-content;

    &::selection {
      background: variables.$color-light;
      color: variables.$color-dark;
    }

    // @media (prefers-color-scheme:dark) {
    //   color: variables.$color-dark;
    //   background-color: variables.$color-light;
    // }
  }
}

p code {
  padding: .2rem .5rem;
  background-color: variables.$color-dark;
  color: variables.$color-light;
  border-radius: variables.$border-radius;

  &::selection {
    background: variables.$color-light;
    color: variables.$color-dark;
  }

  // @media (prefers-color-scheme:dark) {
  //   color: variables.$color-dark;
  //   background-color: variables.$color-light;
  // }
}
