.contact {
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    a {
      color: var(--text-color) !important;
      outline: none;

      &:focus,
      &:hover {
        color: var(--primary-color) !important;
      }
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
