@use '../abstract/' as *;

.post__title {
  font-weight: bold;
  font-size: 2.75rem;
  text-wrap: balance;
}

.post__subtitle {
  border-top: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 1.5rem;
  color: var(--subtext-color);
  margin-bottom: 0.5em;
}

.post__metadata {
  display: flex;
  flex-direction: column;
  color: var(--subtext-color);
  gap: 0.5em;
  margin-bottom: 0.75em;
}

.post__content {
  line-height: 1.75;
  font-size: 1.25rem;
  max-width: calc(100vw - 1.5rem);
  overflow: hidden;

  @media (min-width: 1800px) {
    position: relative;
    overflow: unset;
  }

  /**/
  ol {
    list-style: upper-roman;
    padding-left: 2em;

    li {
      padding-bottom: 0.25em;
    }
  }
}

.post__tag {
  width: 1.25rem;
  height: 1.25rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

#preamble {
  color: var(--subtext-color);
}

.sect1,
.sect2,
.sect3 {
  margin-block: 1em;

  &>.ulist {
    padding-left: 0.5em;
  }

  h2,
  h3,
  h4 {
    position: relative;
    display: inline-block;
    padding-inline: 0.25em;

    &:hover .anchor {
      opacity: 1;
    }
  }
}

.sect1 {
  h2 {
    font-size: 1.5rem;
    margin-block: 0.75em 0.25em;
    background-color: var(--primary-color);
    color: var(--bg-color);
    // display: inline;
    // box-decoration-break: clone;
    // -webkit-box-decoration-break: clone;

    &::selection {
      background-color: var(--bg-color);
      color: var(--primary-color);
    }
  }
}

.sect2 {
  h3 {
    font-size: 1.2rem;
    margin-block: 0.2em;
    border-bottom: 2px solid var(--primary-color);
  }
}

.anchor {
  position: absolute;
  top: 50%;
  // left: -2rem;
  right: -2rem;
  transform: translateY(-50%);
  color: var(--text-color);
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0;

  &:focus {
    opacity: 1;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.ulist {
  list-style: disc;
  margin-block: 0.25em;

  li {
    padding-block: 0.25em;
  }
}

.paragraph {
  margin-block: 0.5em;

  a {
    color: var(--primary-color);
    outline: none;

    &:focus,
    &:hover {
      background-color: var(--primary-color);
      color: var(--bg-color-3);
    }
  }

  &.truncate p {
    @include truncate(40ch);
  }
}

.literalblock {
  padding-left: 1em;
  font-size: 1rem;
  font-family: var(--font-mono);
  overflow: scroll;
}

/* inline code */
p,
ul,
td {
  code {
    background-color: var(--bg-color-3);
    color: var(--primary-color);
    padding: 0.2em;
    border-radius: calc(var(--border-radius) / 2);
    border-bottom: 2px solid var(--bg-color-2);
    font-family: var(--font-mono);
    font-size: 0.9em;
  }
}

/* code block */
.listingblock {
  margin-block: 1em;
  overflow: auto;

  /* language tag */
  &[data-language] {
    position: relative;

    &::before {
      content: attr(data-language);
      position: absolute;
      width: min-content;
      top: 0.5em;
      right: 0.5em;
      font-size: 0.8rem;
      color: var(--subtext-color);
      background-color: var(--bg-color-3);
      padding: 0.5em;
      border: 1px solid var(--subtext-color);
      border-radius: calc(var(--border-radius) / 2);
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  figure {
    font-size: 1.1em;
    pre {
      border-radius: calc(var(--border-radius) / 2);
      min-width: min-content;
    }
  }
}

/* colist: annotations to source code*/
.listingblock {
  font-family: var(--font-mono);
  font-size: 1rem;
}

.colist table {
  table-layout: fixed;

  td {
    padding-inline: 0.5em;
    vertical-align: top;
  }
}

/* code markers */
.colist {
  font-size: 0.9em;
}

.conum,
.conum+b {
  @include unselectable;
  color: var(--primary-color);
  font-size: 1rem;
  font-family: var(--font-mono);
}

.tableblock {
  background-color: var(--bg-color-2);
  font-size: 1rem;
  padding: 0.25em;
  border-radius: var(--border-radius);
}

table.tableblock {
  width: 100%;
  text-align: left;
}

.imageblock {
  img {
    max-width: 100%;
    display: block;
    margin-inline: auto;
    border-radius: calc(var(--border-radius) / 2);
  }

  figcaption {
    color: var(--subtext-color);
    font-size: 1rem;
  }
}

.admonition {
  font-size: 1.1rem;
  background-color: var(--bg-color-3);
  border-radius: calc(var(--border-radius) / 2);
  padding: 1em;
  margin-block: 1em;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;

  @media (min-width: 768px) {
    grid-template-columns: min-content 1fr;
  }

  @media (min-width: 1800px) {
    position: absolute;
    width: 50%;
    margin-block: 0;
    margin-top: -2em;
    grid-template-columns: 1fr;
    --tooltip-color: #000000;

    // &:nth-child(even) {
    &--left {
      right: calc(100% + 2em);

      // Tooltip arrow on the right side
      @include arrow('right top', $color: var(--tooltip-color), $size: 1em);
    }

    // &:nth-child(odd) {
    &--right {
      left: calc(100% + 2em);

      // Tooltip arrow on the left side
      @include arrow('left top', $color: var(--tooltip-color), $size: 1em);
    }
  }

  /* Allows for inline code blocks written inside admonitions*/
  code {
    color: unset;
    background-color: var(--tooltip-color);
    border-bottom: unset;
  }

  svg {
    width: 48px;
    aspect-ratio: 1;
    margin-block: auto;
  }

  &.warning {
    --bg-color-3: rgba(223, 142, 29, 0.2);
    --tooltip-color: var(--bg-color-3);

    svg {
      color: var(--yellow);
    }
  }

  &.tip {
    --bg-color-3: rgba(166, 209, 137, 0.2);
    --tooltip-color: var(--bg-color-3);

    svg {
      color: var(--green);
    }
  }

  &.important {
    --bg-color-3: rgba(153, 209, 219, 0.2);
    --tooltip-color: var(--bg-color-3);

    svg {
      color: var(--blue);
    }
  }

  &.caution {
    --bg-color-3: rgba(231, 130, 132, 0.2);
    --tooltip-color: var(--bg-color-3);

    svg {
      color: var(--red);
    }
  }

  &.note {
    --bg-color-3: rgba(113, 63, 18, 0.2);
    --tooltip-color: var(--bg-color-3);

    svg {
      color: hsl(29.1, 72.5%, 35.7%);
    }
  }
}

// Description lists
.dlist {
  background-color: var(--bg-color-3);
  padding: 1em;
  border-radius: var(--border-radius);
  margin-top: 1em;

  dt {
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  dd {
    padding-left: 1em;
  }
}
