:root {
	--ctp-latte-rosewater: #dc8a78;
	--ctp-latte-flamingo: #dd7878;
	--ctp-latte-pink: #ea76cb;
	--ctp-latte-mauve: #8839ef;
	--ctp-latte-red: #d20f39;
	--ctp-latte-maroon: #e64553;
	--ctp-latte-peach: #fe640b;
	--ctp-latte-yellow: #df8e1d;
	--ctp-latte-green: #40a02b;
	--ctp-latte-teal: #179299;
	--ctp-latte-sky: #04a5e5;
	--ctp-latte-sapphire: #209fb5;
	--ctp-latte-blue: #1e66f5;
	--ctp-latte-lavender: #7287fd;
	--ctp-latte-text: #4c4f69;
	--ctp-latte-subtext1: #5c5f77;
	--ctp-latte-subtext0: #6c6f85;
	--ctp-latte-overlay2: #7c7f93;
	--ctp-latte-overlay1: #8c8fa1;
	--ctp-latte-overlay0: #9ca0b0;
	--ctp-latte-surface2: #acb0be;
	--ctp-latte-surface1: #bcc0cc;
	--ctp-latte-surface0: #ccd0da;
	--ctp-latte-base: #eff1f5;
	--ctp-latte-mantle: #e6e9ef;
	--ctp-latte-crust: #dce0e8;

	--ctp-frappe-rosewater: #f2d5cf;
	--ctp-frappe-flamingo: #eebebe;
	--ctp-frappe-pink: #f4b8e4;
	--ctp-frappe-mauve: #ca9ee6;
	--ctp-frappe-red: #e78284;
	--ctp-frappe-maroon: #ea999c;
	--ctp-frappe-peach: #ef9f76;
	--ctp-frappe-yellow: #e5c890;
	--ctp-frappe-green: #a6d189;
	--ctp-frappe-teal: #81c8be;
	--ctp-frappe-sky: #99d1db;
	--ctp-frappe-sapphire: #85c1dc;
	--ctp-frappe-blue: #8caaee;
	--ctp-frappe-lavender: #babbf1;
	--ctp-frappe-text: #c6d0f5;
	--ctp-frappe-subtext1: #b5bfe2;
	--ctp-frappe-subtext0: #a5adce;
	--ctp-frappe-overlay2: #949cbb;
	--ctp-frappe-overlay1: #838ba7;
	--ctp-frappe-overlay0: #737994;
	--ctp-frappe-surface2: #626880;
	--ctp-frappe-surface1: #51576d;
	--ctp-frappe-surface0: #414559;
	--ctp-frappe-base: #303446;
	--ctp-frappe-mantle: #292c3c;
	--ctp-frappe-crust: #232634;
}
