%colist {
	margin-top: 0.5em;
	margin-left: 1em;
	font-size: 0.9em;
	line-height: 1;

	li {
		position: relative;
		padding-left: 1em;

		&::before {
			content: attr(data-colist);
			position: absolute;
			right: calc(100% - 0.5em);
			top: 0.25em;
			background-color: var(--accent-color);
			color: var(--background-color);
			border-radius: 50%;
			height: 100%;
			max-height: 1em;
			scale: 0.75;
			// width: 32px;
			// scale: 0.6;
			aspect-ratio: 1;
			display: inline-block;
			text-align: center;
		}
	}

	p {
		line-height: 1.6;
	}
}
