%colist {
	margin-top: 0.5em;
	margin-left: 2em;
	font-size: 0.9em;

	li {
		position: relative;

		&::before {
			content: attr(data-colist);
			position: absolute;
			right: 100%;
			background-color: var(--accent-color);
			color: var(--background-color);
			border-radius: 50%;
			width: 32px;
			scale: 0.6;
			aspect-ratio: 1;
			display: inline-block;
			text-align: center;
		}
	}
}
