%inline-code {
	background-color: var(--background-color-2);
	color: var(--accent-color);
	padding: 0.2em;
	border-radius: calc(var(--border-radius) / 2);
	border-bottom: 2px solid currentColor;
	font-family: var(--font-mono);
	font-size: 0.9em;
	box-decoration-break: clone;
}
