@use '../../abstract/mixins' as *;

%listingblock {
	margin-top: 1em;
	position: relative;

	button.copy-btn {
		position: absolute;
		right: 0.5em;
		top: 0.5em;
		cursor: pointer;
		z-index: 10;

		svg {
			@include unselectable;
			width: var(--icon-size);
			aspect-ratio: 1;
			fill: var(--background-color);
		}
	}

	figure {
		overflow: auto;
	}

	figcaption {
		font-style: italic;
	}

	pre {
		padding-block: 1em;
		border-radius: var(--border-radius);
		font-family: var(--font-mono);
		font-size: 0.9em;
		// overflow: auto;
		min-width: min-content;
	}

	&:has(+ .literalblock.output) pre {
		border-bottom-left-radius: unset;
		border-bottom-right-radius: unset;
	}

	span.line {
		display: inline-block;
		width: 100%;
		padding-inline: 1em;
	}

	.conum {
		background-color: var(--accent-color);
		border-radius: 50%;
		width: 32px;
		scale: 0.6;
		aspect-ratio: 1;
		display: inline-block;
		text-align: center;
		opacity: 1 !important;
		color: var(--background-color) !important;
	}
}
