%quoteblock {
	line-height: 1.5;
	padding: 1em;
	background-color: var(--background-color-2);
	border-left: 5px solid var(--accent-color);
	margin-top: 1em;

	blockquote {
		font-style: italic;
	}

	a {
		color: var(--accent-color);
		text-decoration: none;
	}

	.attribution {
		font-size: 0.9em;
		margin-inline: 1em;
		margin-block: 0.5em;

		cite {
			margin-left: 1.4em;
		}
	}
}
