table.tableblock {
	min-width: 100%;
	max-width: max-content;
	background-color: var(--background-color-2);
	font-size: 0.9em;
	text-align: center;
	font-family: var(--font-mono);

	// Remove the default cell spacing
	border-collapse: collapse;
	border-spacing: 0;

	colgroup {
		display: none;
	}

	thead tr {
		border-bottom: 2px solid currentColor;
	}

	tbody tr:nth-child(odd) {
		background-color: var(--background-color);
	}

	th,
	td {
		height: 2em;
	}

	p {
		padding: 0;
		margin: 0;
	}
}
