@use 'sass:map';
@use '../abstract' as *;

.blog-card {
  position: relative;
  background-color: transparent; // filled by utility gradient
  border-radius: 0.5rem;
  box-shadow: $box-shadow-light;
  animation: popUp 0.3s backwards;

  &:nth-child(1) {
    animation-delay: 0.75s;
  }
  &:nth-child(2) {
    animation-delay: 0.65s;
  }
  &:nth-child(3) {
    animation-delay: 0.95s;
  }
  &:nth-child(4) {
    animation-delay: 0.85s;
  }
  &:nth-child(5) {
    animation-delay: 1.1s;
  }
  &:nth-child(6) {
    animation-delay: 1.25s;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:hover svg {
    opacity: 0.6;
    transform: translate(120%, 120%) scale(1.1);
  }

  & svg {
    transform: translate(120%, 120%);
    width: 40%;
    height: 40%;
    opacity: 0.1;
    transition: opacity 0.2s, transform 0.2s ease-in;
    pointer-events: none;

    /* Prevents icon from covering the text */
    position: absolute;
    z-index: -1;
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    // color: variables.$color-dark;
    color: var(--text-color);
    padding: 1rem;
    // font-weight: bold;
    font-size: 1.5rem;
    word-wrap: normal;

    &:focus {
      outline: none
    }

    &:focus + svg {
      opacity: 0.6;
      transform: translate(120%, 120%) scale(1.1);
    }
  }

  &__text {
    display: block;
    width: 1ch; // Forces line per word
    font-family: $main-typography;
    // font-weight: normal;
  }

  @each $k, $v in map.get($colors, 'brands') {
    &--#{$k} {
      svg {
        fill: $v;
      }

      @include dark-mode {
        /* overrides the background image set by gradient utility class */
        background-image: none;
        background-color: rgba($v, .1);
        border: 2px solid $v;

        svg {
          opacity: 0.4;
        }
      }

      // @media (prefers-color-scheme: dark) {
      // body.dark & {
      //   /* overrides the background image set by gradient utility class */
      //   background-image: none;
      //   background-color: rgba($v, .1);
      //   border: 2px solid $v;

      //   svg {
      //     opacity: 0.4;
      //   }
      // }
    }
  }
}
