@use 'sass:map';
@use '../abstract' as *;

%button {
  cursor: pointer;
  border: none;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  // color: #333;
  color: #111;
  line-height: 1.5rem;
  font-size: 1.4rem;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  min-width: max-content;
  transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55);
  backface-visibility: hidden;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1) skew(-7deg);
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.9;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
    transform: translate(0 0);
    transition: transform 0.3s 0.2s cubic-bezier(.68,-0.55,.27,1.55);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  }

  &::before {
    background-image: linear-gradient(to bottom right, rgba(251, 113, 88, 0.8) 45%, transparent);
  }

  &::after {
    background-image: linear-gradient(to top left, rgba(244, 200, 98, 1) 35%, transparent);
  }

  &:focus::before,
  &:hover::before {
    transform: translate(4px, -5px) skew(7deg);
  }
  &:focus::after,
  &:hover::after {
    transform: translate(-4px, 5px) skew(7deg);
  }

  &--round {
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &[disabled] {
    filter: grayscale(1);
    text-decoration: line-through;
    pointer-events: none;

    &:focus,
    &:hover,
    &:active,
    &:focus::before,
    &:hover::before,
    &:focus::after,
    &:hover::after {
      transform: unset;
      opacity: unset;
      cursor: unset;
    }
  }

  &--small {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2rem;
  }

  &--medium {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }

  &--large {
    height: 6.2rem;
    width: 6.2rem;
    font-size: 4rem;
  }

  &--dark {
    // background-color: $color-dark;
    // color: $color-lighter;
    background-color: map.get($colors, 'neutral', 'dark');
    color: map.get($colors, 'neutral', 'lightest');
    fill: map.get($colors, 'neutral', 'lightest');

    @media (prefers-color-scheme: dark) {
      background-color: map.get($colors, 'neutral', 'lightest');
      color: map.get($colors, 'neutral', 'dark');
      fill: map.get($colors, 'neutral', 'dark');
    }
  }

  &--light {
    background-color: $color-lighter;
    color: $color-dark;

    &:hover,
    &:focus {
      outline: none;
      background-color: $color-dark;
      color: $color-lighter;
    }
  }

  &--with-icon {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    svg {
      fill: map.get($colors, 'neutral', 'dark');
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}
