.link {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  color: var(--text-color);
  // border-radius: 3px;
  // border: 1px dashed var(--text-color);
  font-family: inherit;
  text-align: center;

  &:hover,
  &:focus {
    outline: none;
    color: var(--accent-color);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--accent-color)
  }

  svg {
    fill: var(--text-color);
    width: 1.7rem;
    height: 1.7rem;
  }
}
