@use 'sass:map';
@use '../abstract' as *;

.modal {
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms;

  &__content {
    width: min-content;
    border: 1px solid map.get($colors, 'neutral', 'dark');
    border-radius: 1rem;
    overflow: hidden;
    backdrop-filter: blur(1px);
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 400ms ease;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
  }

  &--active &__content {
    transform: translateY(0);
    opacity: 1;
  }
}
