.modal {
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms;

  &__content {
    position: absolute;
    top: 4rem;
    right: 4rem;
    bottom: 4rem;
    left: 4rem;
    background-color: coral;
    border-radius: 1rem;
    backdrop-filter: blur(1px);
    transform: scale(0);
    transition: transform 500ms;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
  }

  &--active &__content {
    transform: scale(1);
  }
}
