.modal {
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms;

  &__content {
    width: min-content;
    border-radius: 1rem;
    overflow: hidden;
    backdrop-filter: blur(1px);
    transform: scale(0);
    transition: transform 500ms;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
  }

  &--active &__content {
    transform: scale(1);
  }
}
