@use 'sass:map';
@use '../abstract' as *;

.navigation {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  z-index: 100;

  @include responsive(tablet) {
    top: 5rem;
  }

  &__links {
    @include flex($gap: 3rem);
  }

  &__link {
    font-family: inherit;

    &:hover {
      cursor: pointer;
      color: map.get($colors, 'primary', 'normal');
    }
  }
}
