@use "sass:map";
@use "../abstract" as *;

.navigation {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  border-radius: 1rem;
  z-index: 1;
  background-color: var(--text-color);
  color: var(--background-color);
  overflow: hidden;

  @include responsive(tablet) {
    top: 5rem;
  }

  &__links {
    @include flex($gap: 3rem);
  }

  &__item {
    height: 100%;
    padding-block: 0.5em;
    border-radius: 0.5rem;

    &:not(&:first-child),
    &:not(&:last-child) {
      padding-inline: 0.5em;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--background-color);
      color: var(--background-color);
    }

    &:hover a {
      cursor: pointer;
      color: var(--text-color);
    }
  }

  &__link {
    font-family: inherit;

    // &:hover {
    //   cursor: pointer;
    //   color: map.get($colors, "primary", "normal");
    // }
  }
}
