@use 'sass:map';
@use 'sass:string';
@use "../abstract" as *;

.project {
  display: grid;
  gap: 5rem;
  grid-template:
    "preview info" 25rem /
    1fr      1fr;

  justify-content: center;
  align-items: center;
  margin: 5rem 0;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  @include responsive(portrait) {
    grid-template:
      "preview" 25rem
      "info   " auto /
      auto;
  }
  
  @include responsive(tablet) {
    margin: 2rem 0;
  }

  &__title {
    text-align: left;
    font-size: 2.5rem;
    color: var(--text-color);

    @include responsive(phone) {
      font-size: 2.8rem;
      margin-bottom: 1rem;
    }

    &:focus {
      background-color: red;
    }
  }


  &__preview {
    position: relative;
    grid-area: preview;
    min-width: 100%;
    align-self: normal;
    box-shadow: $box-shadow-light;
    border-radius: 5px;
    overflow: hidden;

    @include responsive(portrait) {
      max-width: 5.35rem; // arbitrary number that fits
      margin: 0 auto; // avoid images streching regardless of all viewport
    }

    img {
      object-fit: cover;

      @include responsive(portrait) {
        min-height: 100%;
        width: 100%;
      }
    }

    &--fullwidth {
      max-width: unset;
    }

    &--unavailable {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;
    }
  }

  &__canvas {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  &__info {
    grid-area: info;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    justify-items: stretch;
    height: 100%;
    transition: all 0.2s;

    @include responsive(phone) {
      align-items: flex-start;
    }

    p, mark {
      font-family: FiraSans;
    }
  }

  &__description {
    @include responsive(phone) {
      margin: 2rem 0;
    }
  }

  &__footer {
    padding-bottom: 1rem;
    display: flex;
    gap: 2rem;

    @include responsive(phone) {
      justify-self: center;
      margin-top: 1rem;
    }
  }

  &__stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $depth-stack;
    pointer-events: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    opacity: 0;
    transform: scale(2);
    transition: all 0.2s;

    li:nth-child(even) {
      margin-left: 5rem;
    }


    @each $k, $v in map.get($colors, 'brands') {
      li.#{$k} svg {
        fill: $v;
      }
    }

    svg {
      width: 3rem;
      height: 3rem;
      z-index: 10;

      @include responsive(tablet) {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    @include responsive(phone) {
      overflow: hidden;
      padding: 5rem;

      li:nth-child(even) {
        margin-left: 4rem;
      }
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__content {
    transform: scale(0.9);
    opacity: 0.1;
  }

  &__checkbox:checked ~ &__stack {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  &__checkbox:checked + &__label svg {
    // fill: $color-primary;
    fill: var(--accent-color);
  }

  &__label {
    position: absolute !important;
    top: 0.75rem;
    right: 0;
    right: 1rem;
    opacity: 0.8;
    transition: opacity 0.2s;
    z-index: $depth-checkbox;

    @include responsive(phone) {
      top: unset;
      bottom: 1rem;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:hover svg,
    &:focus svg {
      // fill: $color-primary;
      fill: var(--accent-color);
    }

    svg {
      // fill: $color-dark;
      // width: 3.2rem;
      // height: 3.2rem;
      fill: var(--text-color);
      @include size(2.6rem);
    }
  }
}
