@use 'sass:map';
@use "../abstract" as *;

.sidebar {

  @include responsive(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  grid-area: sidebar;

  // Categories title
  p {
    margin-top: 2rem;
    font-weight: bold;
  }

  // Font for links
  a, p {
    font-family: $main-typography;
  }

  & input[type="checkbox"] {
    display: none;

    &:checked ~ button label {
      transform: rotate(180deg);
    }

    &:checked ~ menu {
      display: block;
      position: absolute;
      top: 6rem;
      right: 2rem;
      z-index: 1;
      background-color: var(--background-color);
      padding-inline: 2rem;
      padding-block: 1rem;
      border: 1px solid var(--text-color);
      border-radius: 5px;
    }

  }

  &__button {
    @include size(2.5rem);
    background: none;
    border: none;
    overflow: hidden;

    label {
      @include size(2.5rem, 5rem);
      @include flex(column);
      transition: transform .3s;

      &:hover {
        cursor: pointer;
      }

      &:hover svg {
        fill: var(--accent-color);
      }
    }

    svg {
      @include size(3.2rem);
    }
  }

  &__menu {
    position: fixed;
    width: max-content;

    @include responsive(portrait) {
      position: static;
    }
  }

  &__menu {
    list-style: none;
    top: 6rem;

    @include responsive(tablet) {
      display: none;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    }
  }

  &__item {
    padding: 0.5rem 0;
  }

  &__link {
    background: none;
    border: none;

    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    border-radius: 5px;
    color: var(--text-color);

    @include responsive(tablet) {
      width: max-content;
    }

    &:focus,
    &:hover {
      // color: var(--accent-color);
      background-color: map.get($colors, 'neutral', 'lighter');
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus svg,
    &:hover svg {
      // fill: var(--accent-color);
    }

    &--icon {
      display: flex;
      gap: 1rem;
      align-items: center;

      svg {
        fill: var(--text-color);
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    &--active {
      background-color: map.get($colors, 'neutral', 'lighter');
      outline: none;

      @include dark-mode {
        background-color: map.get($colors, 'neutral', 'darkest');
      }

      &:hover span {
        color: var(--accent-color);
      }

      span {
        margin-left: auto;
        margin-right: 1rem;
      }
    }

    @include dark-mode {
      &:focus,
      &:hover {
        // color: var(--accent-color);
        background-color: map.get($colors, 'neutral', 'darkest');
        outline: none;
      }
    }
  }
}
