@use '../abstract' as *;

.tooltip {
  // position: relative;
  // position: absolute;
  width: min-content; // helps with tooltip precision

  &:hover::before {
    opacity: 1;
    z-index: 1;
  }

  &--hide-on-md {
    @include responsive(tablet) {
      &::before {
        display: none;
      }
    }
  }

  // &--left::before {
  //   top: 0;
  //   right: 110%;
  // }
  &--left::before {
    top: unset;
    right: 4rem;
    bottom: unset;
    left: unset;
  }
  &--bottom::before {
    top: 2rem;
    right: unset;
    bottom: unset;
    left: unset;
  }
  &--top::before {
    top: unset;
    right: unset;
    bottom: 2rem;
    left: unset;
  }
  &--top-right::before {
    top: unset;
    right: unset;
    bottom: 2rem;
    left: 2rem;
  }
  &--top-left::before {
    top: unset;
    right: 2rem;
    bottom: 2rem;
    left: unset;
  }
  &--bottom-left::before {
    top: 2rem;
    right: 2rem;
    bottom: unset;
    left: unset;
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    // top: 110%;
    width: max-content;
    height: min-content;
    padding: 1rem;
    color: $color-light;
    border-radius: 5px;
    background-color: $color-dark;
    opacity: 0;
    z-index: $depth-tooltip;
    pointer-events: none;
    transition: opacity 0.2s 0.1s;
    border: 1px solid var(--background-color);

    @include dark-mode {
      border: 1px solid var(--text-color);
    }
  }
}
