---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro"
import PostCard from '../../components/PostCard.astro';
import { normalizeBrandName } from '../../scripts/utils';

import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
	const blogPosts = (await getCollection('blog')).sort(
		(a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
	);
	const blogCategories = new Set([...blogPosts.map(blog => blog.data.technologies).flat()]);

	return Array.from(blogCategories).map(category => {
		const filteredPosts = blogPosts.filter(post => post.data.technologies.includes(category));
		return {
			params: {
				category: normalizeBrandName(category),
			},
			props: { posts: filteredPosts, category }
		}
	});
}) satisfies GetStaticPaths;

const { posts, category } = Astro.props;
---

<Layout>
	<header>
		<h1>Category: {category}</h1>
		<p class="preamble">Showing {posts.length} {category} post.</p>
	</header>
	<ul>
		{posts.map(post => (
			<li><PostCard post={post} /></li>
		))}
	</ul>
</Layout>

<style>
p.preamble {
	color: var(--subtitles);
	margin-bottom: 1em;
}
ul {
	margin-top: 2rem;
}
li {
	/* margin-top: 1em; */
	padding: 0.5em;

	&:hover {
		background-color: var(--background-color-2);
	}
}
hr {
	color: var(--subtitles);
}
</style>
