<div x-data="scroll" @scroll.window.throttle.100ms="handleScroll" x-cloak>
	<button @click="scrollToTop" :class="{ 'hidden': scrollingDownwards }">
		&uarr;
	</button>
</div>

<style>
button {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
	box-shadow: var(--shadow);
	border-radius: 50%;
	transition: transform 200ms ease;
	background-color: var(--background-color-2);

	&:focus,
	&:hover {
		background-color: var(--background-color);
	}

	&.hidden {
		transform: translateY(4rem) scale(0);
	}
}
</style>
