<footer>
    <section class="footer__links">
        <div class="footer_column">
            <p>This site is built with:</p>
            <ul>
                <li>
                    <a href="">
                        Astro
                    </a>
                </li>

                <li>
                    <a href="">
                        AsciiDoc
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer_column">
            <p>Find more about me:</p>
            <ul>
                <li>
                    <a href="">
                        Codeberg
                    </a>
                </li>

                <li>
                    <a href="">
                        GitHub
                    </a>
                </li>

                <li>
                    <a href="">
                        Codepen
                    </a>
                </li>

                <li>
                    <a href="">
                        Exercism
                    </a>
                </li>

                <li>
                    <a href="">
                        Codewars
                    </a>
                </li>

                <li>
                    <a href="">
                        TryHackMe
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="footer__copyright">
        <p>
            All content by me &copy; 2025 <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-SA 4.0</a>
        </p>
    </section>
</footer>