<nav
	x-data="scroll"
	@scroll.window.throttle.100ms="handleScroll"
	class="navbar"
	:class="{ 'hidden': scrollingDownwards }"
>
	<div class="navbar__brand">
		<h1>
			<a href="/">D10f</a>
		</h1>
	</div>

	<menu class="navbar__links">
		<li>
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/projects">Projects</a>
		</li>
		<li>
			<a href="/uses">Uses</a>
		</li>
	</menu>

	<menu class="navbar__actions">
		<li>
			<button>Theme</button>
		</li>
	</menu>
</nav>

<style>
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--background-color-2);
	box-shadow: var(--shadow);
	padding: var(--padder-size) calc(var(--padder-size) * 2);
	transition: translate 250ms ease;
	z-index: 99;
}
.navbar.hidden {
	translate: 0 calc(-100% - 4em);
}
.navbar,
.navbar__links,
.navbar__actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.navbar__links,
.navbar__actions {
	li {
		margin-inline: 1em;
	}
}
.navbar__brand a {
	font-family: var(--font-head);
}
.navbar__links {
	margin-right: auto;
	margin-left: 1em;
}
</style>
