---
import ThemeToggle from './ThemeToggle.astro';

const currentPath = Astro.url.pathname;
---

<nav
	x-data="scroll"
	@scroll.window.throttle.70ms="handleScroll"
	class="navbar"
	:class="{ 'hidden': scrollingDownwards }"
>
	<div class="navbar__brand">
		<a href="/">D10f</a>
	</div>

	<menu class="navbar__links">
		<li>
			<a class={currentPath.match(/^\/(?:blog|categories)/) ? 'active' : '' } href="/blog">Blog</a>
		</li>
		<li>
			<a class={currentPath.startsWith('/projects') ? 'active' : '' } href="/projects">Projects</a>
		</li>
		<li>
			<a class={currentPath.startsWith('/uses') ? 'active' : '' } href="/uses">Uses</a>
		</li>
	</menu>

	<menu class="navbar__actions">
		<li>
			<ThemeToggle />
		</li>
	</menu>
</nav>

<style>
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--background-color-2);
	box-shadow: var(--shadow);
	padding: calc(var(--padder-size) / 2) var(--padder-size);
	transition: translate 250ms ease;
	z-index: 99;
	display: grid;
	grid-template:
		"brand actions" 1fr
		"links links" /
		1fr min-content;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		left: 50%;
		transform: translate(-50%, 0);
		width: min(calc(100vw - var(--padder-size) * 2), var(--max-width));
		top: 1em;
		border-radius: var(--border-radius);
	}
}
.navbar:focus-within {
	translate: initial !important;
}
.navbar.hidden {
	translate: 0 calc(-100% - 4em);
}
.navbar__links,
.navbar__actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.navbar__links,
.navbar__actions {
	li {
		margin-right: 1em;

		@media screen and (min-width: 768px) {
			margin-inline: 1em;
		}
	}
}
.navbar__brand a {
	font-family: var(--font-head);
	font-size: 2em;
	grid-area: brand;
}
.navbar__brand a,
.navbar__links a {
	&:focus,
	&:hover {
		color: var(--accent-color);
	}
}
.navbar__links {
	margin-right: auto;
	/* margin-left: 1em; */
	font-family: var(--font-head);
	grid-area: links;

	a.active {
		color: var(--accent-color);
	}
}
.navbar__actions {
	grid-area: actions;
}
</style>
