@keyframes hover {
  0% {
    transform: translateY(1rem);
  }

  25% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  75% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(1rem);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  60% {
    opacity: 0.6;
    transform: translateY(-0.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}