@use "sass:map";
@use "../abstract" as *;

:root {
  // --background-color: #{map.get($colors, "neutral", "lightest")};
  // --text-color: #{map.get($colors, "neutral", "dark")};
  // --accent-color: #{map.get($colors, "primary", "normal")};

  @media (prefers-color-scheme: dark) {
    // --background-color: #{map.get($colors, "neutral", "dark")};
    // --text-color: #{map.get($colors, "neutral", "light")};
    // --accent-color: #{map.get($colors, "primary", "normal")};
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  &.dark {
    --background-color: #{map.get($colors, "neutral", "darker")};
    --text-color: #{map.get($colors, "neutral", "light")};
    --accent-color: #{map.get($colors, "primary", "normal")};
  }

  &.light {
    --background-color: #{map.get($colors, "neutral", "lightest")};
    --text-color: #{map.get($colors, "neutral", "dark")};
    --accent-color: #{map.get($colors, "primary", "dark")};
  }

  padding-bottom: 2rem;

  @include contain;
  font-family: $main-typography;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-color);
  box-sizing: border-box;
  background-color: var(--background-color);
}

p,
a,
button {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

mark {
  background: none;
  color: var(--text-color);
}

svg {
  fill: var(--text-color);
}

// code {
//   font-family: $code-typography;
//   color: map.get($colors, 'primary', 'dark');
//   background-color: map.get($colors, 'neutral', 'lighter');

//   @include dark-mode {
//     color: map.get($colors, 'secondary', 'dark');
//     background-color: unset;
//   }
// }

::selection {
  background-color: map.get($colors, "secondary", "light");

  body.dark & {
    background-color: map.get($colors, "primary", "normal");
  }
}
