@use "../abstract/mixins";
@use "../abstract/variables";

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  @include mixins.contain;
  font-family: variables.$main-typography;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: variables.$color-dark;
  box-sizing: border-box;
  background-color: variables.$color-lighter;
}

p,
a,
button {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

mark {
  background: none;
  color: variables.$color-dark;
}

::selection {
  background-color: rgba(variables.$color-secondary, 0.5);
}
