@use 'sass:map';
@use "../abstract" as *;

:root {
  --test: #{map.get($colors, 'neutral', 'light')};
  --theme-switch-translate-pos: 0%;
}

body.dark {
  --test: orangered;
  --theme-switch-translate-pos: -100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  @include contain;
  font-family: $main-typography;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-dark;
  box-sizing: border-box;
  background-color: $color-lighter;

  // @media (prefers-color-scheme: dark) {
  //   background-color: map.get($colors, 'neutral', 'dark');
  //   color: map.get($colors, 'neutral', 'lightest');
  //   fill: map.get($colors, 'neutral', 'lightest');
  // }
}

p,
a,
button {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

mark {
  background: none;
  color: $color-dark;
}

::selection {
  background-color: rgba($color-secondary, 0.5);
}
