/* Used for titles and section headings */
@font-face {
  font-family: "PanameraRegular";
  src: url(../assets/fonts/PanameraRegular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Used for regular text, description, etc */
@font-face {
  font-family: "FiraSans";
  src: url(../assets/fonts/FiraSans-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Used for inline and blocks of code */
@font-face {
  font-family: "FiraCode";
  src: url(../assets/fonts/FiraCode-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url(../assets/fonts/catamaran.medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BarlowRegular";
  src: url(../assets/fonts/barlow.regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url(../assets/fonts/barlow.medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: "SourceCodePro";
//   src: url(../assets/fonts/source-code-pro.regular.ttf) format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "SourceSansPro";
//   src: url(../assets/fonts/source-sans-pro.regular.ttf) format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "SourceCodePro";
  src: url(../assets/fonts/source-code-pro.regular-webfont.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/nunito.regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url(../assets/fonts/jetbrains-mono.regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'WorkSans';
//   src: url(../assets/fonts/work-sans.regular.otf) format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/work-sans.regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
