@font-face {
  font-family: 'PanameraRegular';
  src: url(../assets/fonts/PanameraRegular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode';
  src: url(../assets/fonts/FiraCode-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
