@use 'sass:map';
@use '../abstract' as *;

/**
 *  Creates a set of utilities for gradients based on brand colors
 */
@each $k, $v in $gradients {
  .gradient--#{$k} {
    background-image: $v;
  }
}

.ml-1 { margin-left: 1rem; }
.mb-2 { margin-bottom: 2rem; }

.floating {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
}

.animate-hover {
  animation: hover 10s infinite;
}

// Meant to work with rounded elements e.g. buttons
// .animate-pulse {
//   position: relative;

//   &--active {
//     &::after {
//       content: '';
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       z-index: -1;
//       border-radius: 50%;
//       background-color: map.get($colors, 'neutral', 'darker');
//       animation: pulse 1s;
//     }
//   
//     &:hover::after {
//       animation: pulse 1s;
//     }
//   }
// }

.hide-on-tablet {
  @include responsive(tablet) {
    display: none !important;
  }
}

.show-on-tablet {
  display: none;
  @include responsive(tablet) {
    display: block !important;
  }
}

.hide-on-phone {
  @include responsive(phone) {
    display: none !important;
  }
}
