@use 'sass:map';
@use '../abstract' as *;

/**
 *  Creates a set of utilities for gradients based on brand colors
 */
// @each $k, $v in map.get($colors, 'brands') {
//   .gradient--#{$k} {
//     background-image: linear-gradient(
//       to bottom right,
//       rgba($v, 0.4),
//       rgba($v, 0.25)
//     );
//   }
// }

// .gradient--nginx { background-image: $gradient-nginx; }
// .gradient--mongo { background-image: $gradient-mongo; }
// .gradient--wordpress { background-image: $gradient-wordpress; }
// .gradient--pwa { background-image: $gradient-pwa; }
// .gradient--bash { background-image: $gradient-bash; }
// .gradient--react { background-image: $gradient-react; }
// .gradient--js { background-image: $gradient-js; }
// .gradient--ts { background-image: $gradient-ts; }
// .gradient--ansible { background-image: $gradient-ansible; }
// .gradient--docker { background-image: $gradient-docker; }

.ml-1 { margin-left: 1rem; }
.mb-2 { margin-bottom: 2rem; }

.floating {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
}

.animate-hover {
  animation: hover 10s infinite;
}

// Meant to work with rounded elements e.g. buttons
.animate-pulse {
  position: relative;

  &--active {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 50%;
      background-color: $color-dark;
      animation: pulse 1s;
    }
  
    &:hover::after {
      animation: pulse 1s;
    }
  }
}

.hide-on-tablet {
  @include responsive(tablet) {
    display: none !important;
  }
}
