@use 'sass:map';
@use 'variables' as *;

/**
 *  Set of utilities to position an element
 */
@each $_pos in absolute relative fixed sticky {
  %position-#{$_pos} { position: $_pos; }
}

/**
 *  Set of utilities to display an element
 */
@each $_dis in block inline inline-block flex inline-flex grid {
  %display-as-#{$_dis} { display: $_dis; }
}

/**
*  Set of utilities for padding and margin
*/
@for $i from 1 through 10 {
  %pt-#{i} { padding-top: #{$i}em; }
  %pr-#{i} { padding-right: #{$i}em; }
  %pb-#{i} { padding-bottom: #{$i}em; }
  %pl-#{i} { padding-left: #{$i}em; }
  %px-#{i} { padding: #{$i}em 0; }
  %py-#{i} { padding: 0 #{$i}em; }
  %p-#{i}  { padding: #{$i}em; }

  %mt-#{i} { margin-top: #{$i}em; }
  %mr-#{i} { margin-right: #{$i}em; }
  %mb-#{i} { margin-bottom: #{$i}em; }
  %ml-#{i} { margin-left: #{$i}em; }
  %mx-#{i} { margin: #{$i}em 0; }
  %my-#{i} { margin: 0 #{$i}em; }
  %m-#{i}  { margin: #{$i}em; }
}

/**
*  Set of utilities for gradients based on brand colors
*/
@each $k, $v in map.get($colors, 'brands') {
 %gradient--#{$k} {
   background-image: linear-gradient(
     to bottom right,
     rgba($v, 0.4),
     rgba($v, 0.25)
   );
 }
}


%center-horizontally {
  margin-inline: auto;
}

%center-vertically {
  margin-block: auto;
}

%no-overflow {
  overflow: hidden;
}

%no-content {
  content: '';
}

%is-invisible {
  @extend %no-overflow;
  @extend %position-absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
}
