@use 'sass:map';

$colors: (

  // TODO: Choose primary colors
  'primary': (
    'light': lightcoral,
    'normal': #fb7158,
    'dark': orangered,
    ),
    
  // TODO: Choose secondary colors
  'secondary': (
    'light': lightyellow,
    'normal': #f4c862e5,
    'dark': darkorange,
  ),

  'neutral': (
    'lighter': #f4f4f4,
    'light': #f1f1f1,
    'dark': #333,
    'darker': #212121,
  ),

  'brands': (
    'ansible': #c83232,
    'bash': #555753,
    'p5': #ED225D,
    'docker': #2496ED,
    'js': #f7d249,
    'sojourn': #7b92f9,
    'mongo': #47A248,
    'nginx': #009639,
    'react': #61DAFB,
    'ts': #3178C6,
    'pwa': #5A0FC8,
    'webpack': #8DD6F9,
    'wordpress': #21759B,
  )
);

$color-light: #F1F1F1;
$color-lighter: #F4F4F4;

$color-dark: #333;
$color-darker: #212121;
$color-one-dark: #282c34;

$color-primary: #fb7158;
$color-secondary: #f4c862e5;

$color-p5: #ED225D;
$color-sojourn: #7b92f9;
$color-nginx: #009639;
$color-mongo: #47A248;
$color-wordpress: #21759B;
$color-webpack: #8DD6F9;
$color-pwa: #5A0FC8;
$color-bash: #555753;
$color-react: #61DAFB;
$color-js: #f7d249;
$color-ts: #3178C6;
$color-ansible: #c83232;
$color-docker: #2496ED;

/* COLOR GRADIENTS */

$gradient-nginx: linear-gradient(
    to bottom right,
    rgba($color-nginx, 0.4),
    rgba($color-nginx, 0.25)
  );
$gradient-mongo: linear-gradient(
    to bottom right,
    rgba($color-mongo, 0.5),
    rgba($color-mongo, 0.25)
  );
$gradient-wordpress: linear-gradient(
    to bottom right,
    rgba($color-wordpress, 0.5),
    rgba($color-wordpress, 0.25)
  );
$gradient-pwa: linear-gradient(
    to bottom right,
    rgba($color-pwa, 0.35),
    rgba($color-pwa, 0.25)
  );
$gradient-bash: linear-gradient(
    to bottom right,
    rgba($color-bash, 0.6),
    rgba($color-bash, 0.25)
  );
$gradient-react: linear-gradient(
    to bottom right,
    rgba($color-react, 0.25),
    rgba($color-react, 0.1)
  );
$gradient-js: linear-gradient(
    to bottom right,
    rgba($color-js, 0.75),
    rgba($color-js, 0.25)
  );
$gradient-ts: linear-gradient(
    to bottom right,
    rgba($color-ts, 0.65),
    rgba($color-ts, 0.25)
  );
$gradient-ansible: linear-gradient(
    to bottom right,
    rgba($color-ansible, 0.7),
    rgba($color-ansible, 0.25)
  );
$gradient-docker: linear-gradient(
    to bottom right,
    rgba($color-docker, 0.6),
    rgba($color-docker, 0.25)
  );

/* LAYOUT */

$max-width: 120rem;

/* EFFECTS */

$box-shadow: .75rem 1.25rem 2rem rgba($color-darker, 0.3);
$box-shadow-light: .25rem 1rem 2rem rgba($color-darker, 0.2);
$text-shadow: 1rem 1rem 1.25rem rgba($color-darker, .3);

@media (prefers-color-scheme: dark) {
  $box-shadow: none;
  $box-shadow-light: none;
  $text-shadow: none;
}

/* DEPTH */

$depth-tooltip: 99;
$depth-checkbox: 90;
$depth-stack: 80;
$depth-search-label: 79;
$depth-search-input: 82;
$depth-search-results: 78;
$depth-dropdown: 60;

/* TYPOGRAPHY */

$main-typography: "PanameraRegular", sans-serif;
$code-typography: "Fira Code", sans-serif;
$post-typography: Roboto, sans-serif;
