:root {
	/* COLORS */
	--accent-color: var(--ctp-latte-yellow);
	--light-color: var(--ctp-latte-mantle);
	--dark-color: var(--ctp-frappe-mantle);

	/* highlight colors */
	--red: hsl(from var(--ctp-frappe-red) h calc(s + 10) calc(l - 10));
	--yellow: hsl(from var(--ctp-frappe-yellow) h calc(s + 10) calc(l - 10));
	--green: hsl(from var(--ctp-frappe-green) h calc(s + 10) calc(l - 10));
	--blue: hsl(from var(--ctp-frappe-blue) h calc(s + 10) calc(l - 10));
	--purple: hsl(from var(--ctp-frappe-mauve) calc(h + 10) calc(s + 10) calc(l - 10));
	--orange: hsl(from var(--ctp-frappe-peach) h calc(s + 20) calc(l - 10));

	--foreground-color: light-dark(var(--dark-color), var(--light-color));
	--background-color: light-dark(var(--light-color), var(--dark-color));
	--background-color-2: hsl(from var(--background-color) h s calc(l + 5));

	--main-text: var(--foreground-color);
	--subtitles: light-dark(color-mix(in srgb, var(--dark-color), white 20%),
			color-mix(in srgb, var(--light-color), black 20%));

	--shadow:
		0 2px 6px rgba(15 15 15 /25%),
		0 4px 16px rgba(15 15 15 /25%),
		0 8px 24px rgba(15 15 15 /25%);

	/* LAYOUT */
	--border-radius: 8px;

	/* SPACING */
	--icon-size: 2rem;
	--max-width: 1100px;
	--content-width: 768px;
	--padder-size: calc(var(--icon-size) / 2);

	/* Fonts */
	--font-body: "WorkSans";
	--font-head: "Atkinson";
	--font-mono: "SourceCodePro"
}

*,
*::before,
*::after {
	font: inherit;
	color: inherit;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: "WorkSans";
	scroll-behavior: smooth;
	background-color: var(--background-color);
	color: var(--main-text);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}
