@font-face {
	font-family: "SourceCodePro";
	src: url("/source-code-pro.regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "WorkSans";
	src: url("/work-sans.regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Atkinson";
	src: url("/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--font-body);
	font-size: 20px;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-head);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5,
h6 {
	font-size: 1.1em;
}
