@font-face {
  font-family: "SourceCodePro";
  src: url(../../../public/source-code-pro.regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("../../../public/work-sans.regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
