@use '../abstract/' as *;

.unselectable {
	@include unselectable;
}

.truncate {
	@include truncate(40ch);
}

.sr-only {
	@include visually-hidden;
}

.mr-2 {
	margin-right: 0.5em;
}

.mt-6 {
	margin-top: 1.5em;
}

.opacity-50 {
	opacity: 0.5;
}
