@use '../abstract/variables';
@use '../abstract/mixins';

.mt-1 {
  margin: 1rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.pl-1 {
  padding-left: 1rem;
}
.scale-2 {
  transform: scale(2);
}
.scale-3 {
  transform: scale(3);
}
