.small-margin-y {
  margin: 2rem 0;
}
.medium-margin-y {
  margin: 2rem 0;
}
.margin-top {
  margin-top: 2rem;
}
.margin-bottom {
  margin-bottom: 2rem;
}
.no-overflow {
  overflow: hidden;
}
.hide-on-phone {
  @include responsive(phone) {
    display: none;
  }
}
.is-centered {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.contain {
  @include contain;
}
.invisible {
  visibility: hidden;
}
.z-10 {
  z-index: 10;
}
